#include "common.xcconfig"
ZERO_LINK = no
UNSTRIPPED_PRODUCT = YES
COPY_PHASE_STRIP = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = full
GCC_OPTIMIZATION_LEVEL = 0
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_DYNAMIC_NO_PIC = NO
CONFIGURATION_BUILD_DIR = ../../../exe/osx/debug/
HEADER_SEARCH_PATHS =  $(SDKROOT)/usr/include ../../../../spot/sfnt_includes ../../../../public/lib/api
