<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>@MMK_L_LAT_A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Adieresis</string>
			<string>Atilde</string>
		</array>
		<key>@MMK_L_LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Ytilde</string>
		</array>
		<key>@MMK_L_LAT_a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>adieresis</string>
			<string>atilde</string>
		</array>
		<key>@MMK_L_LAT_v</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ytilde</string>
		</array>
		<key>@MMK_R_LAT_A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Adieresis</string>
			<string>Atilde</string>
		</array>
		<key>@MMK_R_LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Ytilde</string>
		</array>
		<key>@MMK_R_LAT_a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>adieresis</string>
			<string>atilde</string>
		</array>
		<key>@MMK_R_LAT_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ytilde</string>
		</array>
	</dict>
</plist>
