<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>@MMK_L_LAT_A</key>
		<dict>
			<key>@MMK_R_LAT_A</key>
			<integer>10</integer>
			<key>@MMK_R_LAT_Y</key>
			<integer>-90</integer>
			<key>@MMK_R_LAT_a</key>
			<integer>-5</integer>
			<key>@MMK_R_LAT_y</key>
			<integer>-50</integer>
		</dict>
		<key>@MMK_L_LAT_Y</key>
		<dict>
			<key>@MMK_R_LAT_A</key>
			<integer>-90</integer>
			<key>@MMK_R_LAT_Y</key>
			<integer>0</integer>
			<key>@MMK_R_LAT_a</key>
			<integer>-80</integer>
			<key>@MMK_R_LAT_y</key>
			<integer>-69</integer>
			<key>adieresis</key>
			<integer>-79</integer>
			<key>atilde</key>
			<integer>-61</integer>
		</dict>
		<key>@MMK_L_LAT_a</key>
		<dict>
			<key>@MMK_R_LAT_A</key>
			<integer>10</integer>
			<key>@MMK_R_LAT_Y</key>
			<integer>-80</integer>
			<key>@MMK_R_LAT_y</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_LAT_v</key>
		<dict>
			<key>@MMK_R_LAT_A</key>
			<integer>-71</integer>
			<key>@MMK_R_LAT_Y</key>
			<integer>-50</integer>
			<key>@MMK_R_LAT_a</key>
			<integer>-16</integer>
			<key>@MMK_R_LAT_y</key>
			<integer>9</integer>
		</dict>
	</dict>
</plist>
