<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.LAT_A</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<real>9.5886075949</real>
			<key>public.kern2.LAT_Y</key>
			<integer>-90</integer>
			<key>public.kern2.LAT_a</key>
			<real>-5.2056962025</real>
			<key>public.kern2.LAT_y</key>
			<real>-50.4113924051</real>
		</dict>
		<key>public.kern1.LAT_Y</key>
		<dict>
			<key>adieresis</key>
			<real>-78.7658227848</real>
			<key>atilde</key>
			<real>-60.8227848101</real>
			<key>public.kern2.LAT_A</key>
			<real>-90.4113924051</real>
			<key>public.kern2.LAT_Y</key>
			<real>0.4113924051</real>
			<key>public.kern2.LAT_a</key>
			<integer>-80</integer>
			<key>public.kern2.LAT_y</key>
			<real>-69.1772151899</real>
		</dict>
		<key>public.kern1.LAT_a</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<real>9.5886075949</real>
			<key>public.kern2.LAT_Y</key>
			<real>-79.5886075949</real>
			<key>public.kern2.LAT_y</key>
			<real>-10.4113924051</real>
		</dict>
		<key>public.kern1.LAT_v</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<real>-71.2341772152</real>
			<key>public.kern2.LAT_Y</key>
			<real>-50.4113924051</real>
			<key>public.kern2.LAT_a</key>
			<real>-15.6170886076</real>
			<key>public.kern2.LAT_y</key>
			<real>9.1772151899</real>
		</dict>
	</dict>
</plist>
