<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>FDArraySelect.0.SourceHanSerifJP-ExtraLight-Generic</key>
    <array>
      <string>.notdef</string>
    </array>
    <key>FDArraySelect.1.SourceHanSerifJP-ExtraLight-VKana</key>
    <array>
      <string>uni3041-V</string>
      <string>uni3042-V</string>
      <string>uni3043-V</string>
      <string>uni3044-V</string>
      <string>uni3045-V</string>
      <string>uni3046-V</string>
      <string>uni3047-V</string>
      <string>uni3048-V</string>
      <string>uni3049-V</string>
      <string>uni304A-V</string>
      <string>uni304B-V</string>
      <string>uni304C-V</string>
      <string>uni304D-V</string>
      <string>uni304E-V</string>
      <string>uni304F-V</string>
      <string>uni3050-V</string>
      <string>uni3051-V</string>
      <string>uni3052-V</string>
      <string>uni3053-V</string>
      <string>uni3054-V</string>
      <string>uni3055-V</string>
      <string>uni3056-V</string>
      <string>uni3057-V</string>
      <string>uni3058-V</string>
      <string>uni3059-V</string>
      <string>uni305A-V</string>
      <string>uni305B-V</string>
      <string>uni305C-V</string>
      <string>uni305D-V</string>
      <string>uni305E-V</string>
      <string>uni305F-V</string>
      <string>uni3060-V</string>
      <string>uni3061-V</string>
      <string>uni3062-V</string>
      <string>uni3063-V</string>
      <string>uni3064-V</string>
      <string>uni3065-V</string>
      <string>uni3066-V</string>
      <string>uni3067-V</string>
      <string>uni3068-V</string>
      <string>uni3069-V</string>
      <string>uni306A-V</string>
      <string>uni306B-V</string>
      <string>uni306C-V</string>
      <string>uni306D-V</string>
      <string>uni306E-V</string>
      <string>uni306F-V</string>
      <string>uni3070-V</string>
      <string>uni3071-V</string>
      <string>uni3072-V</string>
      <string>uni3073-V</string>
      <string>uni3074-V</string>
      <string>uni3075-V</string>
      <string>uni3076-V</string>
      <string>uni3077-V</string>
      <string>uni3078-V</string>
      <string>uni3079-V</string>
      <string>uni307A-V</string>
      <string>uni307B-V</string>
      <string>uni307C-V</string>
      <string>uni307D-V</string>
      <string>uni307E-V</string>
      <string>uni307F-V</string>
      <string>uni3080-V</string>
      <string>uni3081-V</string>
      <string>uni3082-V</string>
      <string>uni3083-V</string>
      <string>uni3084-V</string>
      <string>uni3085-V</string>
      <string>uni3086-V</string>
      <string>uni3087-V</string>
      <string>uni3088-V</string>
      <string>uni3089-V</string>
      <string>uni308A-V</string>
      <string>uni308B-V</string>
      <string>uni308C-V</string>
      <string>uni308D-V</string>
      <string>uni308E-V</string>
      <string>uni308F-V</string>
      <string>uni3090-V</string>
      <string>uni3091-V</string>
      <string>uni3092-V</string>
      <string>uni3093-V</string>
      <string>uni3094-V</string>
      <string>uni3095-V</string>
      <string>uni3096-V</string>
      <string>uni309D-V</string>
      <string>uni309E-V</string>
      <string>uni309F-V</string>
      <string>uni30A1-V</string>
      <string>uni30A2-V</string>
      <string>uni30A3-V</string>
      <string>uni30A4-V</string>
      <string>uni30A5-V</string>
      <string>uni30A6-V</string>
      <string>uni30A7-V</string>
      <string>uni30A8-V</string>
      <string>uni30A9-V</string>
      <string>uni30AA-V</string>
      <string>uni30AB-V</string>
      <string>uni30AC-V</string>
      <string>uni30AD-V</string>
      <string>uni30AE-V</string>
      <string>uni30AF-V</string>
      <string>uni30B0-V</string>
      <string>uni30B1-V</string>
      <string>uni30B2-V</string>
      <string>uni30B3-V</string>
      <string>uni30B4-V</string>
      <string>uni30B5-V</string>
      <string>uni30B6-V</string>
      <string>uni30B7-V</string>
      <string>uni30B8-V</string>
      <string>uni30B9-V</string>
      <string>uni30BA-V</string>
      <string>uni30BB-V</string>
      <string>uni30BC-V</string>
      <string>uni30BD-V</string>
      <string>uni30BE-V</string>
      <string>uni30BF-V</string>
      <string>uni30C0-V</string>
      <string>uni30C1-V</string>
      <string>uni30C2-V</string>
      <string>uni30C3-V</string>
      <string>uni30C4-V</string>
      <string>uni30C5-V</string>
      <string>uni30C6-V</string>
      <string>uni30C7-V</string>
      <string>uni30C8-V</string>
      <string>uni30C9-V</string>
      <string>uni30CA-V</string>
      <string>uni30CB-V</string>
      <string>uni30CC-V</string>
      <string>uni30CD-V</string>
      <string>uni30CE-V</string>
      <string>uni30CF-V</string>
      <string>uni30D0-V</string>
      <string>uni30D1-V</string>
      <string>uni30D2-V</string>
      <string>uni30D3-V</string>
      <string>uni30D4-V</string>
      <string>uni30D5-V</string>
      <string>uni30D6-V</string>
      <string>uni30D7-V</string>
      <string>uni30D8-V</string>
      <string>uni30D9-V</string>
      <string>uni30DA-V</string>
      <string>uni30DB-V</string>
      <string>uni30DC-V</string>
      <string>uni30DD-V</string>
      <string>uni30DE-V</string>
      <string>uni30DF-V</string>
      <string>uni30E0-V</string>
      <string>uni30E1-V</string>
      <string>uni30E2-V</string>
      <string>uni30E3-V</string>
      <string>uni30E4-V</string>
      <string>uni30E5-V</string>
      <string>uni30E6-V</string>
      <string>uni30E7-V</string>
      <string>uni30E8-V</string>
      <string>uni30E9-V</string>
      <string>uni30EA-V</string>
      <string>uni30EB-V</string>
      <string>uni30EC-V</string>
      <string>uni30ED-V</string>
      <string>uni30EE-V</string>
      <string>uni30EF-V</string>
      <string>uni30F0-V</string>
      <string>uni30F1-V</string>
      <string>uni30F2-V</string>
      <string>uni30F3-V</string>
      <string>uni30F4-V</string>
      <string>uni30F5-V</string>
      <string>uni30F6-V</string>
      <string>uni30F7-V</string>
      <string>uni30F8-V</string>
      <string>uni30F9-V</string>
      <string>uni30FA-V</string>
      <string>uni30FC-V</string>
      <string>uni30FD-V</string>
      <string>uni30FE-V</string>
      <string>uni31F0-V</string>
      <string>uni31F1-V</string>
      <string>uni31F2-V</string>
      <string>uni31F3-V</string>
      <string>uni31F4-V</string>
      <string>uni31F5-V</string>
      <string>uni31F6-V</string>
      <string>uni31F7-V</string>
      <string>uni31F8-V</string>
      <string>uni31F9-V</string>
      <string>uni31FA-V</string>
      <string>uni31FB-V</string>
      <string>uni31FC-V</string>
      <string>uni31FD-V</string>
      <string>uni31FE-V</string>
      <string>uni31FF-V</string>
      <string>uni3042uni3099-V</string>
      <string>uni3044uni3099-V</string>
      <string>uni3048uni3099-V</string>
      <string>uni304Auni3099-V</string>
      <string>uni304Buni309A-V</string>
      <string>uni304Duni309A-V</string>
      <string>uni304Funi309A-V</string>
      <string>uni3051uni309A-V</string>
      <string>uni3053uni309A-V</string>
      <string>uni3093uni3099-V</string>
      <string>uni30A2uni3099-V</string>
      <string>uni30A4uni3099-V</string>
      <string>uni30A8uni3099-V</string>
      <string>uni30AAuni3099-V</string>
      <string>uni30ABuni309A-V</string>
      <string>uni30ADuni309A-V</string>
      <string>uni30AFuni309A-V</string>
      <string>uni30B1uni309A-V</string>
      <string>uni30B3uni309A-V</string>
      <string>uni30BBuni309A-V</string>
      <string>uni30C4uni309A-V</string>
      <string>uni30C8uni309A-V</string>
      <string>uni30F3uni3099-V</string>
      <string>uni31F7uni309A-V</string>
    </array>
  </dict>
</plist>
