<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.adobe.type.CIDFontName</key>
    <string>SourceHanSerifJP-ExtraLight</string>
    <key>com.adobe.type.FSType</key>
    <integer>0</integer>
    <key>com.adobe.type.ROS</key>
    <string>Adobe-Identity-0</string>
    <key>com.adobe.type.postscriptCIDMap</key>
    <dict>
      <key>.notdef</key>
      <integer>0</integer>
      <key>uni3041-V</key>
      <integer>65038</integer>
      <key>uni3042-V</key>
      <integer>65039</integer>
      <key>uni3042uni3099-V</key>
      <integer>65342</integer>
      <key>uni3043-V</key>
      <integer>65040</integer>
      <key>uni3044-V</key>
      <integer>65041</integer>
      <key>uni3044uni3099-V</key>
      <integer>65343</integer>
      <key>uni3045-V</key>
      <integer>65042</integer>
      <key>uni3046-V</key>
      <integer>65043</integer>
      <key>uni3047-V</key>
      <integer>65044</integer>
      <key>uni3048-V</key>
      <integer>65045</integer>
      <key>uni3048uni3099-V</key>
      <integer>65344</integer>
      <key>uni3049-V</key>
      <integer>65046</integer>
      <key>uni304A-V</key>
      <integer>65047</integer>
      <key>uni304Auni3099-V</key>
      <integer>65345</integer>
      <key>uni304B-V</key>
      <integer>65048</integer>
      <key>uni304Buni309A-V</key>
      <integer>65346</integer>
      <key>uni304C-V</key>
      <integer>65049</integer>
      <key>uni304D-V</key>
      <integer>65050</integer>
      <key>uni304Duni309A-V</key>
      <integer>65347</integer>
      <key>uni304E-V</key>
      <integer>65051</integer>
      <key>uni304F-V</key>
      <integer>65052</integer>
      <key>uni304Funi309A-V</key>
      <integer>65348</integer>
      <key>uni3050-V</key>
      <integer>65053</integer>
      <key>uni3051-V</key>
      <integer>65054</integer>
      <key>uni3051uni309A-V</key>
      <integer>65349</integer>
      <key>uni3052-V</key>
      <integer>65055</integer>
      <key>uni3053-V</key>
      <integer>65056</integer>
      <key>uni3053uni309A-V</key>
      <integer>65350</integer>
      <key>uni3054-V</key>
      <integer>65057</integer>
      <key>uni3055-V</key>
      <integer>65058</integer>
      <key>uni3056-V</key>
      <integer>65059</integer>
      <key>uni3057-V</key>
      <integer>65060</integer>
      <key>uni3058-V</key>
      <integer>65061</integer>
      <key>uni3059-V</key>
      <integer>65062</integer>
      <key>uni305A-V</key>
      <integer>65063</integer>
      <key>uni305B-V</key>
      <integer>65064</integer>
      <key>uni305C-V</key>
      <integer>65065</integer>
      <key>uni305D-V</key>
      <integer>65066</integer>
      <key>uni305E-V</key>
      <integer>65067</integer>
      <key>uni305F-V</key>
      <integer>65068</integer>
      <key>uni3060-V</key>
      <integer>65069</integer>
      <key>uni3061-V</key>
      <integer>65070</integer>
      <key>uni3062-V</key>
      <integer>65071</integer>
      <key>uni3063-V</key>
      <integer>65072</integer>
      <key>uni3064-V</key>
      <integer>65073</integer>
      <key>uni3065-V</key>
      <integer>65074</integer>
      <key>uni3066-V</key>
      <integer>65075</integer>
      <key>uni3067-V</key>
      <integer>65076</integer>
      <key>uni3068-V</key>
      <integer>65077</integer>
      <key>uni3069-V</key>
      <integer>65078</integer>
      <key>uni306A-V</key>
      <integer>65079</integer>
      <key>uni306B-V</key>
      <integer>65080</integer>
      <key>uni306C-V</key>
      <integer>65081</integer>
      <key>uni306D-V</key>
      <integer>65082</integer>
      <key>uni306E-V</key>
      <integer>65083</integer>
      <key>uni306F-V</key>
      <integer>65084</integer>
      <key>uni3070-V</key>
      <integer>65085</integer>
      <key>uni3071-V</key>
      <integer>65086</integer>
      <key>uni3072-V</key>
      <integer>65087</integer>
      <key>uni3073-V</key>
      <integer>65088</integer>
      <key>uni3074-V</key>
      <integer>65089</integer>
      <key>uni3075-V</key>
      <integer>65090</integer>
      <key>uni3076-V</key>
      <integer>65091</integer>
      <key>uni3077-V</key>
      <integer>65092</integer>
      <key>uni3078-V</key>
      <integer>65093</integer>
      <key>uni3079-V</key>
      <integer>65094</integer>
      <key>uni307A-V</key>
      <integer>65095</integer>
      <key>uni307B-V</key>
      <integer>65096</integer>
      <key>uni307C-V</key>
      <integer>65097</integer>
      <key>uni307D-V</key>
      <integer>65098</integer>
      <key>uni307E-V</key>
      <integer>65099</integer>
      <key>uni307F-V</key>
      <integer>65100</integer>
      <key>uni3080-V</key>
      <integer>65101</integer>
      <key>uni3081-V</key>
      <integer>65102</integer>
      <key>uni3082-V</key>
      <integer>65103</integer>
      <key>uni3083-V</key>
      <integer>65104</integer>
      <key>uni3084-V</key>
      <integer>65105</integer>
      <key>uni3085-V</key>
      <integer>65106</integer>
      <key>uni3086-V</key>
      <integer>65107</integer>
      <key>uni3087-V</key>
      <integer>65108</integer>
      <key>uni3088-V</key>
      <integer>65109</integer>
      <key>uni3089-V</key>
      <integer>65110</integer>
      <key>uni308A-V</key>
      <integer>65111</integer>
      <key>uni308B-V</key>
      <integer>65112</integer>
      <key>uni308C-V</key>
      <integer>65113</integer>
      <key>uni308D-V</key>
      <integer>65114</integer>
      <key>uni308E-V</key>
      <integer>65115</integer>
      <key>uni308F-V</key>
      <integer>65116</integer>
      <key>uni3090-V</key>
      <integer>65117</integer>
      <key>uni3091-V</key>
      <integer>65118</integer>
      <key>uni3092-V</key>
      <integer>65119</integer>
      <key>uni3093-V</key>
      <integer>65120</integer>
      <key>uni3093uni3099-V</key>
      <integer>65351</integer>
      <key>uni3094-V</key>
      <integer>65121</integer>
      <key>uni3095-V</key>
      <integer>65122</integer>
      <key>uni3096-V</key>
      <integer>65123</integer>
      <key>uni309D-V</key>
      <integer>65126</integer>
      <key>uni309E-V</key>
      <integer>65127</integer>
      <key>uni309F-V</key>
      <integer>65128</integer>
      <key>uni30A1-V</key>
      <integer>65130</integer>
      <key>uni30A2-V</key>
      <integer>65131</integer>
      <key>uni30A2uni3099-V</key>
      <integer>65352</integer>
      <key>uni30A3-V</key>
      <integer>65132</integer>
      <key>uni30A4-V</key>
      <integer>65133</integer>
      <key>uni30A4uni3099-V</key>
      <integer>65353</integer>
      <key>uni30A5-V</key>
      <integer>65134</integer>
      <key>uni30A6-V</key>
      <integer>65135</integer>
      <key>uni30A7-V</key>
      <integer>65136</integer>
      <key>uni30A8-V</key>
      <integer>65137</integer>
      <key>uni30A8uni3099-V</key>
      <integer>65354</integer>
      <key>uni30A9-V</key>
      <integer>65138</integer>
      <key>uni30AA-V</key>
      <integer>65139</integer>
      <key>uni30AAuni3099-V</key>
      <integer>65355</integer>
      <key>uni30AB-V</key>
      <integer>65140</integer>
      <key>uni30ABuni309A-V</key>
      <integer>65356</integer>
      <key>uni30AC-V</key>
      <integer>65141</integer>
      <key>uni30AD-V</key>
      <integer>65142</integer>
      <key>uni30ADuni309A-V</key>
      <integer>65357</integer>
      <key>uni30AE-V</key>
      <integer>65143</integer>
      <key>uni30AF-V</key>
      <integer>65144</integer>
      <key>uni30AFuni309A-V</key>
      <integer>65358</integer>
      <key>uni30B0-V</key>
      <integer>65145</integer>
      <key>uni30B1-V</key>
      <integer>65146</integer>
      <key>uni30B1uni309A-V</key>
      <integer>65359</integer>
      <key>uni30B2-V</key>
      <integer>65147</integer>
      <key>uni30B3-V</key>
      <integer>65148</integer>
      <key>uni30B3uni309A-V</key>
      <integer>65360</integer>
      <key>uni30B4-V</key>
      <integer>65149</integer>
      <key>uni30B5-V</key>
      <integer>65150</integer>
      <key>uni30B6-V</key>
      <integer>65151</integer>
      <key>uni30B7-V</key>
      <integer>65152</integer>
      <key>uni30B8-V</key>
      <integer>65153</integer>
      <key>uni30B9-V</key>
      <integer>65154</integer>
      <key>uni30BA-V</key>
      <integer>65155</integer>
      <key>uni30BB-V</key>
      <integer>65156</integer>
      <key>uni30BBuni309A-V</key>
      <integer>65361</integer>
      <key>uni30BC-V</key>
      <integer>65157</integer>
      <key>uni30BD-V</key>
      <integer>65158</integer>
      <key>uni30BE-V</key>
      <integer>65159</integer>
      <key>uni30BF-V</key>
      <integer>65160</integer>
      <key>uni30C0-V</key>
      <integer>65161</integer>
      <key>uni30C1-V</key>
      <integer>65162</integer>
      <key>uni30C2-V</key>
      <integer>65163</integer>
      <key>uni30C3-V</key>
      <integer>65164</integer>
      <key>uni30C4-V</key>
      <integer>65165</integer>
      <key>uni30C4uni309A-V</key>
      <integer>65362</integer>
      <key>uni30C5-V</key>
      <integer>65166</integer>
      <key>uni30C6-V</key>
      <integer>65167</integer>
      <key>uni30C7-V</key>
      <integer>65168</integer>
      <key>uni30C8-V</key>
      <integer>65169</integer>
      <key>uni30C8uni309A-V</key>
      <integer>65363</integer>
      <key>uni30C9-V</key>
      <integer>65170</integer>
      <key>uni30CA-V</key>
      <integer>65171</integer>
      <key>uni30CB-V</key>
      <integer>65172</integer>
      <key>uni30CC-V</key>
      <integer>65173</integer>
      <key>uni30CD-V</key>
      <integer>65174</integer>
      <key>uni30CE-V</key>
      <integer>65175</integer>
      <key>uni30CF-V</key>
      <integer>65176</integer>
      <key>uni30D0-V</key>
      <integer>65177</integer>
      <key>uni30D1-V</key>
      <integer>65178</integer>
      <key>uni30D2-V</key>
      <integer>65179</integer>
      <key>uni30D3-V</key>
      <integer>65180</integer>
      <key>uni30D4-V</key>
      <integer>65181</integer>
      <key>uni30D5-V</key>
      <integer>65182</integer>
      <key>uni30D6-V</key>
      <integer>65183</integer>
      <key>uni30D7-V</key>
      <integer>65184</integer>
      <key>uni30D8-V</key>
      <integer>65185</integer>
      <key>uni30D9-V</key>
      <integer>65186</integer>
      <key>uni30DA-V</key>
      <integer>65187</integer>
      <key>uni30DB-V</key>
      <integer>65188</integer>
      <key>uni30DC-V</key>
      <integer>65189</integer>
      <key>uni30DD-V</key>
      <integer>65190</integer>
      <key>uni30DE-V</key>
      <integer>65191</integer>
      <key>uni30DF-V</key>
      <integer>65192</integer>
      <key>uni30E0-V</key>
      <integer>65193</integer>
      <key>uni30E1-V</key>
      <integer>65194</integer>
      <key>uni30E2-V</key>
      <integer>65195</integer>
      <key>uni30E3-V</key>
      <integer>65196</integer>
      <key>uni30E4-V</key>
      <integer>65197</integer>
      <key>uni30E5-V</key>
      <integer>65198</integer>
      <key>uni30E6-V</key>
      <integer>65199</integer>
      <key>uni30E7-V</key>
      <integer>65200</integer>
      <key>uni30E8-V</key>
      <integer>65201</integer>
      <key>uni30E9-V</key>
      <integer>65202</integer>
      <key>uni30EA-V</key>
      <integer>65203</integer>
      <key>uni30EB-V</key>
      <integer>65204</integer>
      <key>uni30EC-V</key>
      <integer>65205</integer>
      <key>uni30ED-V</key>
      <integer>65206</integer>
      <key>uni30EE-V</key>
      <integer>65207</integer>
      <key>uni30EF-V</key>
      <integer>65208</integer>
      <key>uni30F0-V</key>
      <integer>65209</integer>
      <key>uni30F1-V</key>
      <integer>65210</integer>
      <key>uni30F2-V</key>
      <integer>65211</integer>
      <key>uni30F3-V</key>
      <integer>65212</integer>
      <key>uni30F3uni3099-V</key>
      <integer>65364</integer>
      <key>uni30F4-V</key>
      <integer>65213</integer>
      <key>uni30F5-V</key>
      <integer>65214</integer>
      <key>uni30F6-V</key>
      <integer>65215</integer>
      <key>uni30F7-V</key>
      <integer>65216</integer>
      <key>uni30F8-V</key>
      <integer>65217</integer>
      <key>uni30F9-V</key>
      <integer>65218</integer>
      <key>uni30FA-V</key>
      <integer>65219</integer>
      <key>uni30FC-V</key>
      <integer>65220</integer>
      <key>uni30FD-V</key>
      <integer>65221</integer>
      <key>uni30FE-V</key>
      <integer>65222</integer>
      <key>uni31F0-V</key>
      <integer>65224</integer>
      <key>uni31F1-V</key>
      <integer>65225</integer>
      <key>uni31F2-V</key>
      <integer>65226</integer>
      <key>uni31F3-V</key>
      <integer>65227</integer>
      <key>uni31F4-V</key>
      <integer>65228</integer>
      <key>uni31F5-V</key>
      <integer>65229</integer>
      <key>uni31F6-V</key>
      <integer>65230</integer>
      <key>uni31F7-V</key>
      <integer>65231</integer>
      <key>uni31F7uni309A-V</key>
      <integer>65365</integer>
      <key>uni31F8-V</key>
      <integer>65232</integer>
      <key>uni31F9-V</key>
      <integer>65233</integer>
      <key>uni31FA-V</key>
      <integer>65234</integer>
      <key>uni31FB-V</key>
      <integer>65235</integer>
      <key>uni31FC-V</key>
      <integer>65236</integer>
      <key>uni31FD-V</key>
      <integer>65237</integer>
      <key>uni31FE-V</key>
      <integer>65238</integer>
      <key>uni31FF-V</key>
      <integer>65239</integer>
    </dict>
    <key>com.adobe.type.postscriptFDArray</key>
    <array>
      <dict>
        <key>FontMatrix</key>
        <array>
          <real>0.001</real>
          <integer>0</integer>
          <integer>0</integer>
          <real>0.001</real>
          <integer>0</integer>
          <integer>0</integer>
        </array>
        <key>FontName</key>
        <string>SourceHanSerifJP-ExtraLight-Generic</string>
        <key>PaintType</key>
        <integer>0</integer>
        <key>PrivateDict</key>
        <dict>
          <key>ExpansionFactor</key>
          <real>0.06</real>
          <key>LanguageGroup</key>
          <integer>1</integer>
          <key>postscriptBlueFuzz</key>
          <integer>1</integer>
          <key>postscriptBlueScale</key>
          <real>0.039625</real>
          <key>postscriptBlueShift</key>
          <integer>7</integer>
          <key>postscriptBlueValues</key>
          <array>
            <integer>-250</integer>
            <integer>-250</integer>
            <integer>1100</integer>
            <integer>1100</integer>
          </array>
          <key>postscriptStdHW</key>
          <array>
            <integer>40</integer>
          </array>
          <key>postscriptStdVW</key>
          <array>
            <integer>40</integer>
          </array>
          <key>postscriptStemSnapH</key>
          <array>
            <integer>40</integer>
            <integer>120</integer>
          </array>
          <key>postscriptStemSnapV</key>
          <array>
            <integer>40</integer>
            <integer>120</integer>
          </array>
        </dict>
      </dict>
      <dict>
        <key>FontMatrix</key>
        <array>
          <real>0.001</real>
          <integer>0</integer>
          <integer>0</integer>
          <real>0.001</real>
          <integer>0</integer>
          <integer>0</integer>
        </array>
        <key>FontName</key>
        <string>SourceHanSerifJP-ExtraLight-VKana</string>
        <key>PaintType</key>
        <integer>0</integer>
        <key>PrivateDict</key>
        <dict>
          <key>ExpansionFactor</key>
          <real>0.06</real>
          <key>LanguageGroup</key>
          <integer>1</integer>
          <key>postscriptBlueFuzz</key>
          <integer>1</integer>
          <key>postscriptBlueScale</key>
          <real>0.039625</real>
          <key>postscriptBlueShift</key>
          <integer>7</integer>
          <key>postscriptBlueValues</key>
          <array>
            <integer>-250</integer>
            <integer>-250</integer>
            <integer>1100</integer>
            <integer>1100</integer>
          </array>
          <key>postscriptStdHW</key>
          <array>
            <integer>29</integer>
          </array>
          <key>postscriptStdVW</key>
          <array>
            <integer>42</integer>
          </array>
          <key>postscriptStemSnapH</key>
          <array>
            <integer>29</integer>
            <integer>43</integer>
            <integer>68</integer>
          </array>
          <key>postscriptStemSnapV</key>
          <array>
            <integer>42</integer>
            <integer>70</integer>
          </array>
        </dict>
      </dict>
    </array>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>alphabetical</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>category</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>unicode</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>script</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>suffix</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>decompositionBase</string>
      </dict>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>monkey</string>
      <string>chicken</string>
      <string>.notdef</string>
      <string>donkey</string>
      <string>uni3041-V</string>
      <string>uni3042-V</string>
      <string>uni3042uni3099-V</string>
      <string>uni3043-V</string>
      <string>uni3044-V</string>
      <string>uni3044uni3099-V</string>
      <string>uni3045-V</string>
      <string>uni3046-V</string>
      <string>uni3047-V</string>
      <string>uni3048-V</string>
      <string>uni3048uni3099-V</string>
      <string>uni3049-V</string>
      <string>uni304A-V</string>
      <string>uni304Auni3099-V</string>
      <string>uni304B-V</string>
      <string>uni304Buni309A-V</string>
      <string>uni304C-V</string>
      <string>uni304D-V</string>
      <string>uni304Duni309A-V</string>
      <string>uni304E-V</string>
      <string>uni304F-V</string>
      <string>uni304Funi309A-V</string>
      <string>uni3050-V</string>
      <string>uni3051-V</string>
      <string>uni3051uni309A-V</string>
      <string>uni3052-V</string>
      <string>uni3053-V</string>
      <string>uni3053uni309A-V</string>
      <string>uni3054-V</string>
      <string>uni3055-V</string>
      <string>uni3056-V</string>
      <string>uni3057-V</string>
      <string>uni3058-V</string>
      <string>uni3059-V</string>
      <string>uni305A-V</string>
      <string>uni305B-V</string>
      <string>uni305C-V</string>
      <string>uni305D-V</string>
      <string>uni305E-V</string>
      <string>uni305F-V</string>
      <string>uni3060-V</string>
      <string>uni3061-V</string>
      <string>uni3062-V</string>
      <string>uni3063-V</string>
      <string>uni3064-V</string>
      <string>uni3065-V</string>
      <string>uni3066-V</string>
      <string>uni3067-V</string>
      <string>uni3068-V</string>
      <string>uni3069-V</string>
      <string>uni306A-V</string>
      <string>uni306B-V</string>
      <string>uni306C-V</string>
      <string>uni306D-V</string>
      <string>uni306E-V</string>
      <string>uni306F-V</string>
      <string>uni3070-V</string>
      <string>uni3071-V</string>
      <string>uni3072-V</string>
      <string>uni3073-V</string>
      <string>uni3074-V</string>
      <string>uni3075-V</string>
      <string>uni3076-V</string>
      <string>uni3077-V</string>
      <string>uni3078-V</string>
      <string>uni3079-V</string>
      <string>uni307A-V</string>
      <string>uni307B-V</string>
      <string>uni307C-V</string>
      <string>uni307D-V</string>
      <string>uni307E-V</string>
      <string>uni307F-V</string>
      <string>uni3080-V</string>
      <string>uni3081-V</string>
      <string>uni3082-V</string>
      <string>uni3083-V</string>
      <string>uni3084-V</string>
      <string>uni3085-V</string>
      <string>uni3086-V</string>
      <string>uni3087-V</string>
      <string>uni3088-V</string>
      <string>uni3089-V</string>
      <string>uni308A-V</string>
      <string>uni308B-V</string>
      <string>uni308C-V</string>
      <string>uni308D-V</string>
      <string>uni308E-V</string>
      <string>uni308F-V</string>
      <string>uni3090-V</string>
      <string>uni3091-V</string>
      <string>uni3092-V</string>
      <string>uni3093-V</string>
      <string>uni3093uni3099-V</string>
      <string>uni3094-V</string>
      <string>uni3095-V</string>
      <string>uni3096-V</string>
      <string>uni309D-V</string>
      <string>uni309E-V</string>
      <string>uni309F-V</string>
      <string>uni30A1-V</string>
      <string>uni30A2-V</string>
      <string>uni30A2uni3099-V</string>
      <string>uni30A3-V</string>
      <string>uni30A4-V</string>
      <string>uni30A4uni3099-V</string>
      <string>uni30A5-V</string>
      <string>uni30A6-V</string>
      <string>uni30A7-V</string>
      <string>uni30A8-V</string>
      <string>uni30A8uni3099-V</string>
      <string>uni30A9-V</string>
      <string>uni30AA-V</string>
      <string>uni30AAuni3099-V</string>
      <string>uni30AB-V</string>
      <string>uni30ABuni309A-V</string>
      <string>uni30AC-V</string>
      <string>uni30AD-V</string>
      <string>uni30ADuni309A-V</string>
      <string>uni30AE-V</string>
      <string>uni30AF-V</string>
      <string>uni30AFuni309A-V</string>
      <string>uni30B0-V</string>
      <string>uni30B1-V</string>
      <string>uni30B1uni309A-V</string>
      <string>uni30B2-V</string>
      <string>uni30B3-V</string>
      <string>uni30B3uni309A-V</string>
      <string>uni30B4-V</string>
      <string>uni30B5-V</string>
      <string>uni30B6-V</string>
      <string>uni30B7-V</string>
      <string>uni30B8-V</string>
      <string>uni30B9-V</string>
      <string>uni30BA-V</string>
      <string>uni30BB-V</string>
      <string>uni30BBuni309A-V</string>
      <string>uni30BC-V</string>
      <string>uni30BD-V</string>
      <string>uni30BE-V</string>
      <string>uni30BF-V</string>
      <string>uni30C0-V</string>
      <string>uni30C1-V</string>
      <string>uni30C2-V</string>
      <string>uni30C3-V</string>
      <string>uni30C4-V</string>
      <string>uni30C4uni309A-V</string>
      <string>uni30C5-V</string>
      <string>uni30C6-V</string>
      <string>uni30C7-V</string>
      <string>uni30C8-V</string>
      <string>uni30C8uni309A-V</string>
      <string>uni30C9-V</string>
      <string>uni30CA-V</string>
      <string>uni30CB-V</string>
      <string>uni30CC-V</string>
      <string>uni30CD-V</string>
      <string>uni30CE-V</string>
      <string>uni30CF-V</string>
      <string>uni30D0-V</string>
      <string>uni30D1-V</string>
      <string>uni30D2-V</string>
      <string>uni30D3-V</string>
      <string>uni30D4-V</string>
      <string>uni30D5-V</string>
      <string>uni30D6-V</string>
      <string>uni30D7-V</string>
      <string>uni30D8-V</string>
      <string>uni30D9-V</string>
      <string>uni30DA-V</string>
      <string>uni30DB-V</string>
      <string>uni30DC-V</string>
      <string>uni30DD-V</string>
      <string>uni30DE-V</string>
      <string>uni30DF-V</string>
      <string>uni30E0-V</string>
      <string>uni30E1-V</string>
      <string>uni30E2-V</string>
      <string>uni30E3-V</string>
      <string>uni30E4-V</string>
      <string>uni30E5-V</string>
      <string>uni30E6-V</string>
      <string>uni30E7-V</string>
      <string>uni30E8-V</string>
      <string>uni30E9-V</string>
      <string>uni30EA-V</string>
      <string>uni30EB-V</string>
      <string>uni30EC-V</string>
      <string>uni30ED-V</string>
      <string>uni30EE-V</string>
      <string>uni30EF-V</string>
      <string>uni30F0-V</string>
      <string>uni30F1-V</string>
      <string>uni30F2-V</string>
      <string>uni30F3-V</string>
      <string>uni30F3uni3099-V</string>
      <string>uni30F4-V</string>
      <string>uni30F5-V</string>
      <string>uni30F6-V</string>
      <string>uni30F7-V</string>
      <string>uni30F8-V</string>
      <string>uni30F9-V</string>
      <string>uni30FA-V</string>
      <string>uni30FC-V</string>
      <string>uni30FD-V</string>
      <string>uni30FE-V</string>
      <string>uni31F0-V</string>
      <string>uni31F1-V</string>
      <string>uni31F2-V</string>
      <string>uni31F3-V</string>
      <string>uni31F4-V</string>
      <string>uni31F5-V</string>
      <string>uni31F6-V</string>
      <string>uni31F7-V</string>
      <string>uni31F7uni309A-V</string>
      <string>uni31F8-V</string>
      <string>uni31F9-V</string>
      <string>uni31FA-V</string>
      <string>uni31FB-V</string>
      <string>uni31FC-V</string>
      <string>uni31FD-V</string>
      <string>uni31FE-V</string>
      <string>uni31FF-V</string>
    </array>
  </dict>
</plist>
