<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FDArraySelect.0.FDArraySelect.0.Alphabetic</key>
	<array>
		<string>cid58981</string>
		<string>cid58982</string>
		<string>cid58983</string>
		<string>cid58984</string>
		<string>cid58985</string>
		<string>cid58986</string>
		<string>cid58987</string>
		<string>cid58988</string>
		<string>cid58989</string>
		<string>cid58990</string>
		<string>cid58991</string>
		<string>cid58992</string>
		<string>cid58993</string>
		<string>cid58994</string>
		<string>cid58995</string>
		<string>cid58996</string>
		<string>cid58997</string>
		<string>cid58998</string>
		<string>cid58999</string>
		<string>cid59000</string>
		<string>cid59001</string>
		<string>cid59002</string>
		<string>cid59003</string>
		<string>cid59004</string>
		<string>cid59005</string>
		<string>cid59006</string>
		<string>cid59013</string>
		<string>cid59014</string>
		<string>cid59015</string>
		<string>cid59016</string>
		<string>cid59017</string>
		<string>cid59018</string>
		<string>cid59019</string>
		<string>cid59020</string>
		<string>cid59021</string>
		<string>cid59022</string>
		<string>cid59023</string>
		<string>cid59024</string>
		<string>cid59025</string>
		<string>cid59026</string>
		<string>cid59027</string>
		<string>cid59028</string>
		<string>cid59029</string>
		<string>cid59030</string>
		<string>cid59031</string>
		<string>cid59032</string>
		<string>cid59033</string>
		<string>cid59034</string>
		<string>cid59035</string>
		<string>cid59036</string>
		<string>cid59037</string>
		<string>cid59038</string>
	</array>
	<key>FDArraySelect.1.FDArraySelect.1.AlphabeticDigits</key>
	<array>
		<string>cid00959</string>
		<string>cid00960</string>
		<string>cid00961</string>
		<string>cid00962</string>
		<string>cid00963</string>
		<string>cid00964</string>
		<string>cid00965</string>
		<string>cid00966</string>
		<string>cid00967</string>
		<string>cid00968</string>
		<string>cid00969</string>
		<string>cid00970</string>
		<string>cid00971</string>
		<string>cid00972</string>
		<string>cid00973</string>
		<string>cid00974</string>
		<string>cid00975</string>
		<string>cid00976</string>
		<string>cid00977</string>
		<string>cid00978</string>
		<string>cid58964</string>
		<string>cid58965</string>
		<string>cid58966</string>
		<string>cid58967</string>
		<string>cid58968</string>
		<string>cid58969</string>
		<string>cid58970</string>
		<string>cid58971</string>
		<string>cid58972</string>
		<string>cid58973</string>
		<string>cid59120</string>
		<string>cid59121</string>
		<string>cid59122</string>
		<string>cid59123</string>
		<string>cid59124</string>
		<string>cid59125</string>
		<string>cid59126</string>
		<string>cid59127</string>
		<string>cid59128</string>
		<string>cid59129</string>
		<string>cid59130</string>
	</array>
	<key>FDArraySelect.2.FDArraySelect.5.Generic</key>
	<array>
		<string>cid00000</string>
		<string>cid01079</string>
		<string>cid01080</string>
		<string>cid01081</string>
		<string>cid01082</string>
		<string>cid01083</string>
		<string>cid01084</string>
		<string>cid01085</string>
		<string>cid01086</string>
		<string>cid01087</string>
		<string>cid01088</string>
		<string>cid01089</string>
		<string>cid01090</string>
		<string>cid01091</string>
		<string>cid01092</string>
		<string>cid01093</string>
		<string>cid01094</string>
		<string>cid01095</string>
		<string>cid01096</string>
		<string>cid01097</string>
		<string>cid01098</string>
		<string>cid01099</string>
		<string>cid01100</string>
		<string>cid01101</string>
		<string>cid01102</string>
		<string>cid01103</string>
		<string>cid01104</string>
		<string>cid01105</string>
		<string>cid01106</string>
		<string>cid01107</string>
		<string>cid01108</string>
		<string>cid01109</string>
		<string>cid01110</string>
		<string>cid01111</string>
		<string>cid01112</string>
		<string>cid01113</string>
		<string>cid01114</string>
		<string>cid01115</string>
		<string>cid01116</string>
		<string>cid01117</string>
		<string>cid01118</string>
		<string>cid01119</string>
		<string>cid01120</string>
		<string>cid01121</string>
		<string>cid01122</string>
		<string>cid01123</string>
		<string>cid01124</string>
		<string>cid01125</string>
		<string>cid01126</string>
		<string>cid01127</string>
		<string>cid01128</string>
		<string>cid01129</string>
		<string>cid01130</string>
		<string>cid01131</string>
		<string>cid01132</string>
		<string>cid01133</string>
		<string>cid01134</string>
		<string>cid01135</string>
		<string>cid01136</string>
		<string>cid01137</string>
		<string>cid01138</string>
		<string>cid01139</string>
		<string>cid01140</string>
		<string>cid01141</string>
		<string>cid01142</string>
		<string>cid01143</string>
		<string>cid01144</string>
		<string>cid01145</string>
		<string>cid01146</string>
		<string>cid01147</string>
		<string>cid01148</string>
		<string>cid01149</string>
		<string>cid01150</string>
		<string>cid01151</string>
		<string>cid01152</string>
		<string>cid01153</string>
		<string>cid01154</string>
		<string>cid01155</string>
		<string>cid01156</string>
		<string>cid01157</string>
		<string>cid01158</string>
		<string>cid01159</string>
		<string>cid01160</string>
		<string>cid01161</string>
		<string>cid01162</string>
		<string>cid01163</string>
		<string>cid01164</string>
		<string>cid01165</string>
		<string>cid01166</string>
		<string>cid01167</string>
		<string>cid01168</string>
		<string>cid01169</string>
		<string>cid01170</string>
		<string>cid01171</string>
		<string>cid01172</string>
		<string>cid01173</string>
		<string>cid01174</string>
		<string>cid01175</string>
		<string>cid01176</string>
		<string>cid01177</string>
		<string>cid01178</string>
		<string>cid01179</string>
		<string>cid01180</string>
		<string>cid01181</string>
		<string>cid01182</string>
		<string>cid01183</string>
		<string>cid01184</string>
		<string>cid01185</string>
		<string>cid01186</string>
		<string>cid01187</string>
		<string>cid01188</string>
		<string>cid01189</string>
		<string>cid01190</string>
		<string>cid01191</string>
		<string>cid01192</string>
		<string>cid01193</string>
		<string>cid01194</string>
		<string>cid01195</string>
		<string>cid01196</string>
		<string>cid01197</string>
		<string>cid01198</string>
		<string>cid01199</string>
		<string>cid01200</string>
		<string>cid01201</string>
		<string>cid01202</string>
		<string>cid01203</string>
		<string>cid01204</string>
		<string>cid01205</string>
		<string>cid01206</string>
		<string>cid01207</string>
		<string>cid01208</string>
		<string>cid01209</string>
		<string>cid01210</string>
		<string>cid01211</string>
		<string>cid01212</string>
		<string>cid01213</string>
		<string>cid01214</string>
		<string>cid01215</string>
		<string>cid01216</string>
		<string>cid01217</string>
		<string>cid01218</string>
		<string>cid01219</string>
		<string>cid01220</string>
		<string>cid01221</string>
		<string>cid01222</string>
		<string>cid01223</string>
		<string>cid01224</string>
		<string>cid01225</string>
		<string>cid01226</string>
		<string>cid01227</string>
		<string>cid01228</string>
		<string>cid01229</string>
		<string>cid01230</string>
		<string>cid01231</string>
		<string>cid01232</string>
		<string>cid01233</string>
		<string>cid01234</string>
		<string>cid01235</string>
		<string>cid01236</string>
		<string>cid01237</string>
		<string>cid01238</string>
		<string>cid01287</string>
		<string>cid01294</string>
	</array>
</dict>
</plist>
