<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.adobe.type.CIDFontName</key>
	<string>SourceHanSerifJP-ExtraLight</string>
	<key>com.adobe.type.FSType</key>
	<integer>0</integer>
	<key>com.adobe.type.ROS</key>
	<string>Adobe-Identity-0</string>
	<key>com.adobe.type.postscriptCIDMap</key>
	<dict>
		<key>cid00000</key>
		<integer>0</integer>
		<key>cid00959</key>
		<integer>959</integer>
		<key>cid00960</key>
		<integer>960</integer>
		<key>cid00961</key>
		<integer>961</integer>
		<key>cid00962</key>
		<integer>962</integer>
		<key>cid00963</key>
		<integer>963</integer>
		<key>cid00964</key>
		<integer>964</integer>
		<key>cid00965</key>
		<integer>965</integer>
		<key>cid00966</key>
		<integer>966</integer>
		<key>cid00967</key>
		<integer>967</integer>
		<key>cid00968</key>
		<integer>968</integer>
		<key>cid00969</key>
		<integer>969</integer>
		<key>cid00970</key>
		<integer>970</integer>
		<key>cid00971</key>
		<integer>971</integer>
		<key>cid00972</key>
		<integer>972</integer>
		<key>cid00973</key>
		<integer>973</integer>
		<key>cid00974</key>
		<integer>974</integer>
		<key>cid00975</key>
		<integer>975</integer>
		<key>cid00976</key>
		<integer>976</integer>
		<key>cid00977</key>
		<integer>977</integer>
		<key>cid00978</key>
		<integer>978</integer>
		<key>cid01079</key>
		<integer>1079</integer>
		<key>cid01080</key>
		<integer>1080</integer>
		<key>cid01081</key>
		<integer>1081</integer>
		<key>cid01082</key>
		<integer>1082</integer>
		<key>cid01083</key>
		<integer>1083</integer>
		<key>cid01084</key>
		<integer>1084</integer>
		<key>cid01085</key>
		<integer>1085</integer>
		<key>cid01086</key>
		<integer>1086</integer>
		<key>cid01087</key>
		<integer>1087</integer>
		<key>cid01088</key>
		<integer>1088</integer>
		<key>cid01089</key>
		<integer>1089</integer>
		<key>cid01090</key>
		<integer>1090</integer>
		<key>cid01091</key>
		<integer>1091</integer>
		<key>cid01092</key>
		<integer>1092</integer>
		<key>cid01093</key>
		<integer>1093</integer>
		<key>cid01094</key>
		<integer>1094</integer>
		<key>cid01095</key>
		<integer>1095</integer>
		<key>cid01096</key>
		<integer>1096</integer>
		<key>cid01097</key>
		<integer>1097</integer>
		<key>cid01098</key>
		<integer>1098</integer>
		<key>cid01099</key>
		<integer>1099</integer>
		<key>cid01100</key>
		<integer>1100</integer>
		<key>cid01101</key>
		<integer>1101</integer>
		<key>cid01102</key>
		<integer>1102</integer>
		<key>cid01103</key>
		<integer>1103</integer>
		<key>cid01104</key>
		<integer>1104</integer>
		<key>cid01105</key>
		<integer>1105</integer>
		<key>cid01106</key>
		<integer>1106</integer>
		<key>cid01107</key>
		<integer>1107</integer>
		<key>cid01108</key>
		<integer>1108</integer>
		<key>cid01109</key>
		<integer>1109</integer>
		<key>cid01110</key>
		<integer>1110</integer>
		<key>cid01111</key>
		<integer>1111</integer>
		<key>cid01112</key>
		<integer>1112</integer>
		<key>cid01113</key>
		<integer>1113</integer>
		<key>cid01114</key>
		<integer>1114</integer>
		<key>cid01115</key>
		<integer>1115</integer>
		<key>cid01116</key>
		<integer>1116</integer>
		<key>cid01117</key>
		<integer>1117</integer>
		<key>cid01118</key>
		<integer>1118</integer>
		<key>cid01119</key>
		<integer>1119</integer>
		<key>cid01120</key>
		<integer>1120</integer>
		<key>cid01121</key>
		<integer>1121</integer>
		<key>cid01122</key>
		<integer>1122</integer>
		<key>cid01123</key>
		<integer>1123</integer>
		<key>cid01124</key>
		<integer>1124</integer>
		<key>cid01125</key>
		<integer>1125</integer>
		<key>cid01126</key>
		<integer>1126</integer>
		<key>cid01127</key>
		<integer>1127</integer>
		<key>cid01128</key>
		<integer>1128</integer>
		<key>cid01129</key>
		<integer>1129</integer>
		<key>cid01130</key>
		<integer>1130</integer>
		<key>cid01131</key>
		<integer>1131</integer>
		<key>cid01132</key>
		<integer>1132</integer>
		<key>cid01133</key>
		<integer>1133</integer>
		<key>cid01134</key>
		<integer>1134</integer>
		<key>cid01135</key>
		<integer>1135</integer>
		<key>cid01136</key>
		<integer>1136</integer>
		<key>cid01137</key>
		<integer>1137</integer>
		<key>cid01138</key>
		<integer>1138</integer>
		<key>cid01139</key>
		<integer>1139</integer>
		<key>cid01140</key>
		<integer>1140</integer>
		<key>cid01141</key>
		<integer>1141</integer>
		<key>cid01142</key>
		<integer>1142</integer>
		<key>cid01143</key>
		<integer>1143</integer>
		<key>cid01144</key>
		<integer>1144</integer>
		<key>cid01145</key>
		<integer>1145</integer>
		<key>cid01146</key>
		<integer>1146</integer>
		<key>cid01147</key>
		<integer>1147</integer>
		<key>cid01148</key>
		<integer>1148</integer>
		<key>cid01149</key>
		<integer>1149</integer>
		<key>cid01150</key>
		<integer>1150</integer>
		<key>cid01151</key>
		<integer>1151</integer>
		<key>cid01152</key>
		<integer>1152</integer>
		<key>cid01153</key>
		<integer>1153</integer>
		<key>cid01154</key>
		<integer>1154</integer>
		<key>cid01155</key>
		<integer>1155</integer>
		<key>cid01156</key>
		<integer>1156</integer>
		<key>cid01157</key>
		<integer>1157</integer>
		<key>cid01158</key>
		<integer>1158</integer>
		<key>cid01159</key>
		<integer>1159</integer>
		<key>cid01160</key>
		<integer>1160</integer>
		<key>cid01161</key>
		<integer>1161</integer>
		<key>cid01162</key>
		<integer>1162</integer>
		<key>cid01163</key>
		<integer>1163</integer>
		<key>cid01164</key>
		<integer>1164</integer>
		<key>cid01165</key>
		<integer>1165</integer>
		<key>cid01166</key>
		<integer>1166</integer>
		<key>cid01167</key>
		<integer>1167</integer>
		<key>cid01168</key>
		<integer>1168</integer>
		<key>cid01169</key>
		<integer>1169</integer>
		<key>cid01170</key>
		<integer>1170</integer>
		<key>cid01171</key>
		<integer>1171</integer>
		<key>cid01172</key>
		<integer>1172</integer>
		<key>cid01173</key>
		<integer>1173</integer>
		<key>cid01174</key>
		<integer>1174</integer>
		<key>cid01175</key>
		<integer>1175</integer>
		<key>cid01176</key>
		<integer>1176</integer>
		<key>cid01177</key>
		<integer>1177</integer>
		<key>cid01178</key>
		<integer>1178</integer>
		<key>cid01179</key>
		<integer>1179</integer>
		<key>cid01180</key>
		<integer>1180</integer>
		<key>cid01181</key>
		<integer>1181</integer>
		<key>cid01182</key>
		<integer>1182</integer>
		<key>cid01183</key>
		<integer>1183</integer>
		<key>cid01184</key>
		<integer>1184</integer>
		<key>cid01185</key>
		<integer>1185</integer>
		<key>cid01186</key>
		<integer>1186</integer>
		<key>cid01187</key>
		<integer>1187</integer>
		<key>cid01188</key>
		<integer>1188</integer>
		<key>cid01189</key>
		<integer>1189</integer>
		<key>cid01190</key>
		<integer>1190</integer>
		<key>cid01191</key>
		<integer>1191</integer>
		<key>cid01192</key>
		<integer>1192</integer>
		<key>cid01193</key>
		<integer>1193</integer>
		<key>cid01194</key>
		<integer>1194</integer>
		<key>cid01195</key>
		<integer>1195</integer>
		<key>cid01196</key>
		<integer>1196</integer>
		<key>cid01197</key>
		<integer>1197</integer>
		<key>cid01198</key>
		<integer>1198</integer>
		<key>cid01199</key>
		<integer>1199</integer>
		<key>cid01200</key>
		<integer>1200</integer>
		<key>cid01201</key>
		<integer>1201</integer>
		<key>cid01202</key>
		<integer>1202</integer>
		<key>cid01203</key>
		<integer>1203</integer>
		<key>cid01204</key>
		<integer>1204</integer>
		<key>cid01205</key>
		<integer>1205</integer>
		<key>cid01206</key>
		<integer>1206</integer>
		<key>cid01207</key>
		<integer>1207</integer>
		<key>cid01208</key>
		<integer>1208</integer>
		<key>cid01209</key>
		<integer>1209</integer>
		<key>cid01210</key>
		<integer>1210</integer>
		<key>cid01211</key>
		<integer>1211</integer>
		<key>cid01212</key>
		<integer>1212</integer>
		<key>cid01213</key>
		<integer>1213</integer>
		<key>cid01214</key>
		<integer>1214</integer>
		<key>cid01215</key>
		<integer>1215</integer>
		<key>cid01216</key>
		<integer>1216</integer>
		<key>cid01217</key>
		<integer>1217</integer>
		<key>cid01218</key>
		<integer>1218</integer>
		<key>cid01219</key>
		<integer>1219</integer>
		<key>cid01220</key>
		<integer>1220</integer>
		<key>cid01221</key>
		<integer>1221</integer>
		<key>cid01222</key>
		<integer>1222</integer>
		<key>cid01223</key>
		<integer>1223</integer>
		<key>cid01224</key>
		<integer>1224</integer>
		<key>cid01225</key>
		<integer>1225</integer>
		<key>cid01226</key>
		<integer>1226</integer>
		<key>cid01227</key>
		<integer>1227</integer>
		<key>cid01228</key>
		<integer>1228</integer>
		<key>cid01229</key>
		<integer>1229</integer>
		<key>cid01230</key>
		<integer>1230</integer>
		<key>cid01231</key>
		<integer>1231</integer>
		<key>cid01232</key>
		<integer>1232</integer>
		<key>cid01233</key>
		<integer>1233</integer>
		<key>cid01234</key>
		<integer>1234</integer>
		<key>cid01235</key>
		<integer>1235</integer>
		<key>cid01236</key>
		<integer>1236</integer>
		<key>cid01237</key>
		<integer>1237</integer>
		<key>cid01238</key>
		<integer>1238</integer>
		<key>cid01287</key>
		<integer>1287</integer>
		<key>cid01294</key>
		<integer>1294</integer>
		<key>cid58964</key>
		<integer>58964</integer>
		<key>cid58965</key>
		<integer>58965</integer>
		<key>cid58966</key>
		<integer>58966</integer>
		<key>cid58967</key>
		<integer>58967</integer>
		<key>cid58968</key>
		<integer>58968</integer>
		<key>cid58969</key>
		<integer>58969</integer>
		<key>cid58970</key>
		<integer>58970</integer>
		<key>cid58971</key>
		<integer>58971</integer>
		<key>cid58972</key>
		<integer>58972</integer>
		<key>cid58973</key>
		<integer>58973</integer>
		<key>cid58981</key>
		<integer>58981</integer>
		<key>cid58982</key>
		<integer>58982</integer>
		<key>cid58983</key>
		<integer>58983</integer>
		<key>cid58984</key>
		<integer>58984</integer>
		<key>cid58985</key>
		<integer>58985</integer>
		<key>cid58986</key>
		<integer>58986</integer>
		<key>cid58987</key>
		<integer>58987</integer>
		<key>cid58988</key>
		<integer>58988</integer>
		<key>cid58989</key>
		<integer>58989</integer>
		<key>cid58990</key>
		<integer>58990</integer>
		<key>cid58991</key>
		<integer>58991</integer>
		<key>cid58992</key>
		<integer>58992</integer>
		<key>cid58993</key>
		<integer>58993</integer>
		<key>cid58994</key>
		<integer>58994</integer>
		<key>cid58995</key>
		<integer>58995</integer>
		<key>cid58996</key>
		<integer>58996</integer>
		<key>cid58997</key>
		<integer>58997</integer>
		<key>cid58998</key>
		<integer>58998</integer>
		<key>cid58999</key>
		<integer>58999</integer>
		<key>cid59000</key>
		<integer>59000</integer>
		<key>cid59001</key>
		<integer>59001</integer>
		<key>cid59002</key>
		<integer>59002</integer>
		<key>cid59003</key>
		<integer>59003</integer>
		<key>cid59004</key>
		<integer>59004</integer>
		<key>cid59005</key>
		<integer>59005</integer>
		<key>cid59006</key>
		<integer>59006</integer>
		<key>cid59013</key>
		<integer>59013</integer>
		<key>cid59014</key>
		<integer>59014</integer>
		<key>cid59015</key>
		<integer>59015</integer>
		<key>cid59016</key>
		<integer>59016</integer>
		<key>cid59017</key>
		<integer>59017</integer>
		<key>cid59018</key>
		<integer>59018</integer>
		<key>cid59019</key>
		<integer>59019</integer>
		<key>cid59020</key>
		<integer>59020</integer>
		<key>cid59021</key>
		<integer>59021</integer>
		<key>cid59022</key>
		<integer>59022</integer>
		<key>cid59023</key>
		<integer>59023</integer>
		<key>cid59024</key>
		<integer>59024</integer>
		<key>cid59025</key>
		<integer>59025</integer>
		<key>cid59026</key>
		<integer>59026</integer>
		<key>cid59027</key>
		<integer>59027</integer>
		<key>cid59028</key>
		<integer>59028</integer>
		<key>cid59029</key>
		<integer>59029</integer>
		<key>cid59030</key>
		<integer>59030</integer>
		<key>cid59031</key>
		<integer>59031</integer>
		<key>cid59032</key>
		<integer>59032</integer>
		<key>cid59033</key>
		<integer>59033</integer>
		<key>cid59034</key>
		<integer>59034</integer>
		<key>cid59035</key>
		<integer>59035</integer>
		<key>cid59036</key>
		<integer>59036</integer>
		<key>cid59037</key>
		<integer>59037</integer>
		<key>cid59038</key>
		<integer>59038</integer>
		<key>cid59120</key>
		<integer>59120</integer>
		<key>cid59121</key>
		<integer>59121</integer>
		<key>cid59122</key>
		<integer>59122</integer>
		<key>cid59123</key>
		<integer>59123</integer>
		<key>cid59124</key>
		<integer>59124</integer>
		<key>cid59125</key>
		<integer>59125</integer>
		<key>cid59126</key>
		<integer>59126</integer>
		<key>cid59127</key>
		<integer>59127</integer>
		<key>cid59128</key>
		<integer>59128</integer>
		<key>cid59129</key>
		<integer>59129</integer>
		<key>cid59130</key>
		<integer>59130</integer>
	</dict>
	<key>com.adobe.type.postscriptFDArray</key>
	<array>
	<dict>
	<key>FontName</key>
	<string>FDArraySelect.0.Alphabetic</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-18</integer>
		<integer>0</integer>
		<integer>521</integer>
		<integer>538</integer>
		<integer>746</integer>
		<integer>764</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-283</integer>
		<integer>-283</integer>
		<integer>-273</integer>
		<integer>-273</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>34</integer>
		<integer>59</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>34</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>36</integer>
		<integer>55</integer>
		<integer>64</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>55</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	<dict>
	<key>FontName</key>
	<string>FDArraySelect.1.AlphabeticDigits</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-18</integer>
		<integer>0</integer>
		<integer>746</integer>
		<integer>764</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>32</integer>
		<integer>48</integer>
		<integer>108</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>32</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>55</integer>
		<integer>66</integer>
		<integer>109</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>55</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	<dict>
	<key>FontName</key>
	<string>FDArraySelect.5.Generic</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>40</integer>
		<integer>120</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>40</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>40</integer>
		<integer>120</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>40</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>LanguageGroup</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>cid00000</string>
		<string>cid00959</string>
		<string>cid00960</string>
		<string>cid00961</string>
		<string>cid00962</string>
		<string>cid00963</string>
		<string>cid00964</string>
		<string>cid00965</string>
		<string>cid00966</string>
		<string>cid00967</string>
		<string>cid00968</string>
		<string>cid00969</string>
		<string>cid00970</string>
		<string>cid00971</string>
		<string>cid00972</string>
		<string>cid00973</string>
		<string>cid00974</string>
		<string>cid00975</string>
		<string>cid00976</string>
		<string>cid00977</string>
		<string>cid00978</string>
		<string>cid01079</string>
		<string>cid01080</string>
		<string>cid01081</string>
		<string>cid01082</string>
		<string>cid01083</string>
		<string>cid01084</string>
		<string>cid01085</string>
		<string>cid01086</string>
		<string>cid01087</string>
		<string>cid01088</string>
		<string>cid01089</string>
		<string>cid01090</string>
		<string>cid01091</string>
		<string>cid01092</string>
		<string>cid01093</string>
		<string>cid01094</string>
		<string>cid01095</string>
		<string>cid01096</string>
		<string>cid01097</string>
		<string>cid01098</string>
		<string>cid01099</string>
		<string>cid01100</string>
		<string>cid01101</string>
		<string>cid01102</string>
		<string>cid01103</string>
		<string>cid01104</string>
		<string>cid01105</string>
		<string>cid01106</string>
		<string>cid01107</string>
		<string>cid01108</string>
		<string>cid01109</string>
		<string>cid01110</string>
		<string>cid01111</string>
		<string>cid01112</string>
		<string>cid01113</string>
		<string>cid01114</string>
		<string>cid01115</string>
		<string>cid01116</string>
		<string>cid01117</string>
		<string>cid01118</string>
		<string>cid01119</string>
		<string>cid01120</string>
		<string>cid01121</string>
		<string>cid01122</string>
		<string>cid01123</string>
		<string>cid01124</string>
		<string>cid01125</string>
		<string>cid01126</string>
		<string>cid01127</string>
		<string>cid01128</string>
		<string>cid01129</string>
		<string>cid01130</string>
		<string>cid01131</string>
		<string>cid01132</string>
		<string>cid01133</string>
		<string>cid01134</string>
		<string>cid01135</string>
		<string>cid01136</string>
		<string>cid01137</string>
		<string>cid01138</string>
		<string>cid01139</string>
		<string>cid01140</string>
		<string>cid01141</string>
		<string>cid01142</string>
		<string>cid01143</string>
		<string>cid01144</string>
		<string>cid01145</string>
		<string>cid01146</string>
		<string>cid01147</string>
		<string>cid01148</string>
		<string>cid01149</string>
		<string>cid01150</string>
		<string>cid01151</string>
		<string>cid01152</string>
		<string>cid01153</string>
		<string>cid01154</string>
		<string>cid01155</string>
		<string>cid01156</string>
		<string>cid01157</string>
		<string>cid01158</string>
		<string>cid01159</string>
		<string>cid01160</string>
		<string>cid01161</string>
		<string>cid01162</string>
		<string>cid01163</string>
		<string>cid01164</string>
		<string>cid01165</string>
		<string>cid01166</string>
		<string>cid01167</string>
		<string>cid01168</string>
		<string>cid01169</string>
		<string>cid01170</string>
		<string>cid01171</string>
		<string>cid01172</string>
		<string>cid01173</string>
		<string>cid01174</string>
		<string>cid01175</string>
		<string>cid01176</string>
		<string>cid01177</string>
		<string>cid01178</string>
		<string>cid01179</string>
		<string>cid01180</string>
		<string>cid01181</string>
		<string>cid01182</string>
		<string>cid01183</string>
		<string>cid01184</string>
		<string>cid01185</string>
		<string>cid01186</string>
		<string>cid01187</string>
		<string>cid01188</string>
		<string>cid01189</string>
		<string>cid01190</string>
		<string>cid01191</string>
		<string>cid01192</string>
		<string>cid01193</string>
		<string>cid01194</string>
		<string>cid01195</string>
		<string>cid01196</string>
		<string>cid01197</string>
		<string>cid01198</string>
		<string>cid01199</string>
		<string>cid01200</string>
		<string>cid01201</string>
		<string>cid01202</string>
		<string>cid01203</string>
		<string>cid01204</string>
		<string>cid01205</string>
		<string>cid01206</string>
		<string>cid01207</string>
		<string>cid01208</string>
		<string>cid01209</string>
		<string>cid01210</string>
		<string>cid01211</string>
		<string>cid01212</string>
		<string>cid01213</string>
		<string>cid01214</string>
		<string>cid01215</string>
		<string>cid01216</string>
		<string>cid01217</string>
		<string>cid01218</string>
		<string>cid01219</string>
		<string>cid01220</string>
		<string>cid01221</string>
		<string>cid01222</string>
		<string>cid01223</string>
		<string>cid01224</string>
		<string>cid01225</string>
		<string>cid01226</string>
		<string>cid01227</string>
		<string>cid01228</string>
		<string>cid01229</string>
		<string>cid01230</string>
		<string>cid01231</string>
		<string>cid01232</string>
		<string>cid01233</string>
		<string>cid01234</string>
		<string>cid01235</string>
		<string>cid01236</string>
		<string>cid01237</string>
		<string>cid01238</string>
		<string>cid01287</string>
		<string>cid01294</string>
		<string>cid58964</string>
		<string>cid58965</string>
		<string>cid58966</string>
		<string>cid58967</string>
		<string>cid58968</string>
		<string>cid58969</string>
		<string>cid58970</string>
		<string>cid58971</string>
		<string>cid58972</string>
		<string>cid58973</string>
		<string>cid58981</string>
		<string>cid58982</string>
		<string>cid58983</string>
		<string>cid58984</string>
		<string>cid58985</string>
		<string>cid58986</string>
		<string>cid58987</string>
		<string>cid58988</string>
		<string>cid58989</string>
		<string>cid58990</string>
		<string>cid58991</string>
		<string>cid58992</string>
		<string>cid58993</string>
		<string>cid58994</string>
		<string>cid58995</string>
		<string>cid58996</string>
		<string>cid58997</string>
		<string>cid58998</string>
		<string>cid58999</string>
		<string>cid59000</string>
		<string>cid59001</string>
		<string>cid59002</string>
		<string>cid59003</string>
		<string>cid59004</string>
		<string>cid59005</string>
		<string>cid59006</string>
		<string>cid59013</string>
		<string>cid59014</string>
		<string>cid59015</string>
		<string>cid59016</string>
		<string>cid59017</string>
		<string>cid59018</string>
		<string>cid59019</string>
		<string>cid59020</string>
		<string>cid59021</string>
		<string>cid59022</string>
		<string>cid59023</string>
		<string>cid59024</string>
		<string>cid59025</string>
		<string>cid59026</string>
		<string>cid59027</string>
		<string>cid59028</string>
		<string>cid59029</string>
		<string>cid59030</string>
		<string>cid59031</string>
		<string>cid59032</string>
		<string>cid59033</string>
		<string>cid59034</string>
		<string>cid59035</string>
		<string>cid59036</string>
		<string>cid59037</string>
		<string>cid59038</string>
		<string>cid59120</string>
		<string>cid59121</string>
		<string>cid59122</string>
		<string>cid59123</string>
		<string>cid59124</string>
		<string>cid59125</string>
		<string>cid59126</string>
		<string>cid59127</string>
		<string>cid59128</string>
		<string>cid59129</string>
		<string>cid59130</string>
	</array>
</dict>
</plist>
