<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_LAT_A</key>
	<dict>
		<key>@MMK_R_LAT_A</key>
		<integer>3</integer>
		<key>@MMK_R_LAT_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_LAT_a</key>
		<integer>-9</integer>
		<key>@MMK_R_LAT_y</key>
		<integer>-57</integer>
	</dict>
	<key>@MMK_L_LAT_Y</key>
	<dict>
		<key>@MMK_R_LAT_A</key>
		<integer>-97</integer>
		<key>@MMK_R_LAT_Y</key>
		<integer>7</integer>
		<key>@MMK_R_LAT_a</key>
		<integer>-80</integer>
		<key>@MMK_R_LAT_y</key>
		<integer>-56</integer>
		<key>adieresis</key>
		<integer>-58</integer>
		<key>atilde</key>
		<integer>-74</integer>
	</dict>
	<key>@MMK_L_LAT_a</key>
	<dict>
		<key>@MMK_R_LAT_A</key>
		<integer>3</integer>
		<key>@MMK_R_LAT_Y</key>
		<integer>-73</integer>
		<key>@MMK_R_LAT_y</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_LAT_v</key>
	<dict>
		<key>@MMK_R_LAT_A</key>
		<integer>-92</integer>
		<key>@MMK_R_LAT_Y</key>
		<integer>-57</integer>
		<key>@MMK_R_LAT_a</key>
		<integer>-26</integer>
		<key>@MMK_R_LAT_y</key>
		<integer>-4</integer>
	</dict>
</dict>
</plist>
