install:
  - python -m pip install --upgrade pip
  - pip install wheel
  - pip install pytest
  - python setup.py bdist_wheel
  - for %%f in (dist\*.whl) do pip install %%f

build: false

test_script:
  - pytest -v Tests/
  - pip uninstall --yes afdko
