[run]
# measure 'branch' coverage in addition to 'statement' coverage
# See: http://coverage.readthedocs.io/en/coverage-4.5.1/branch.html
branch = True
parallel = True

# list of directories or packages to measure
source =
    afdko
    tests

omit =
    */__init__.py
    tests/*_test.py

# these are treated as equivalent when combining data
[paths]
source =
    python/afdko
    */site-packages/afdko

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # keywords to use in inline comments to skip coverage
    pragma: no cover

    # don't complain if tests don't hit defensive assertion code
    # ...

    # don't complain if non-runnable code isn't run
    if __name__ == .__main__.:

# ignore source code that can’t be found
ignore_errors = True
