[flake8]

# explicitly select all Errors, Failures, and Warnings
# (override default ignore list)
select = E,F,W,B,B901,B902,B903

# ignore W504 line break before binary operator
ignore = W504,B017,E731,E741,B038

# explicitly set line length limitation
max-line-length = 79

# exclude files that haven't had linting fixes applied yet
exclude = 
    agd.py,
    comparefamily.py,
    otf2otc.py,
    proofpdf.py,
    **/pdflib/fontpdf.py,
    **/pdflib/pdfdoc.py,
    **/pdflib/pdfgen.py,
    **/pdflib/pdfgeom.py,
    **/pdflib/pdfutils.py,
    **/pdflib/ttfpdf.py,
    build,
    _skbuild,
    ./venv*
