[flake8]

# explicitly select all Errors, Failures, and Warnings
# (override default ignore list)
select = E,F,W

# except this one:
ignore = W504

# explicitly set line length limitation
max-line-length = 79