# Python byte code files
*.pyc

# temporary wheel build directories
afdko.egg-info/
build/*
dist/*
.eggs/

# PyCharm directory
.idea/

# Visual Studio Code directory
.vscode/

# coverage data
# DO NOT use '.coverage*' because that matches '.coveragerc'
.coverage
.coverage.*
htmlcov
.pytest_cache
*.gcno
*.gcda
cov*.xml

# ignore the compiled programs
c/build_all/*
!c/build_all/this_folder_intentionally_left_empty
# ANTLR binaries
**/hotpccts/pccts/bin/**

# ignore the temp build directories and files
*.o
*.a
exe/

# Xcode files
project.xcworkspace/
xcuserdata/
**/xcode/build/
*.xcscheme


# Windows build directories
*vcxproj.user
**/visualstudio/Debug/*
**/visualstudio/Release/*
**/visualstudio/x64/*

# temp output dirs created during tests
**/temp_output
