matrix:
  include:
    - os: linux
      env: NAME=Linux
      if: type = pull_request
      python: 2.7
      install:
        - sudo apt-get install g++-multilib
        - sudo -H pip install --upgrade pip
        - pip install --user --upgrade wheel cython
      script:
        - python setup.py bdist_wheel
        - pip install --user dist/*.whl
        - pip uninstall --yes afdko

    - os: osx
      env: NAME=OSX
      if: type = pull_request
      language: generic
      install:
        - curl -O https://bootstrap.pypa.io/get-pip.py
        - python get-pip.py --user
        - python -m pip install --user virtualenv
        - python -m virtualenv .venv/
        - source .venv/bin/activate
        - pip install codecov
        - pip install pytest-cov
        - pip install collective.checkdocs
        - pip install pygments
        - pip install flake8
        - pip install --upgrade wheel cython
        - pip install -r requirements.txt
      before_script:
        - export PYTHONPATH=$PYTHONPATH:$(pwd)
      script:
        - python setup.py checkdocs
        - python setup.py check --restructuredtext --strict
        - pytest --cov
        - flake8 setup.py
        - pushd afdko/Tools/SharedData/FDKScripts
        - flake8 buildCFF2VF.py
        - flake8 buildMasterOTFs.py
        - flake8 CheckOutlinesUFO.py
        - flake8 ConvertFontToCID.py
        - flake8 FDKUtils.py
        - flake8 MakeOTF.py
        - flake8 ttfcomponentizer.py
        - flake8 ufoTools.py
        - popd
        - python setup.py bdist_wheel
        - pip install dist/*.whl
        - pip uninstall --yes afdko
      after_success:
        - codecov

    - os: osx
      env:
        - NAME=OSX-deploy
        - BUILD_DIST=true
      if: type = push
      language: generic

# Only build for *pushes* to master,
# not for pushes to other branches
# (build for PRs from any branch).
# The regex below is because Travis treats a tag on the master branch as if it
# were a different branch. The regex below is meant to match:
# digit(s).digit(s).digit(s) plus optional additional characters.
branches:
  only:
    - master
    - /^\d+\.\d+\.\d+.*$/


notifications:
  slack: typekit:TRAVIS_SLACK_TOKEN
  email:
    on_success: change
    on_failure: always

deploy:
  provider: pypi
  server: https://upload.pypi.org/legacy/
  user: afdko-travis
  password:
    secure: fkjaRurDm3ccb9IUPqDNd5VX1PkZnPrraedHigbpRmc11e0xn+AwWEBuI9EhFLlIl3omzxmajw4UXQb2qw0pIyLPUGnASZvsHWFE9mUz6v2XHYSI1RLG+xpyd0F7ZGExAW6U5fca1uTUTIo68/CJCMk0NSrcVGi6WkaFOXsQ+45UX7uSfCvPsA80w1DnA3tgrrbaLPaz2y9IZmdmMU8DQzE5IU8ODtXS1exQV1YUhlapRvvOkmhv61edVlTeqzd9dCQPWHxegqs6hkiUVX01H0wYNQkaomY6K1O8AmOmDvacXRQILkB/H5luQNGtOhRMGIwr65VIjLl2xNVgEzVAT3rYQ31oz794AkpjDGvzccNgUT9BjwVjxbBrYqpltfYs6q8HlQ8etl1GMjMXrHoZLdNlemKsyAghpNOrQD9pTHYM8OU7m6tCxSDzLnMwnGpjHohsfDg6WWfoBybyAK2RwJ0/Okv/lgdPdupaPOmsJb8h0ymuQB7StAoWYAql2VO+JrFOLlBar+n/2LtjVvW6KISpDSE7qrJEtEfO0ElU8Pc/T+cE5qBlBxa3wh87nqBPee/oOcJNuNmHCk7YzWCXShj+fiDjPQYy6WLHZ1/e8I1AV3DEWlqOAnGja46FARRHLZ8GNLhZ8DAiRsgV4rd9NCl3v7UJWp036Tr7KAZP2nc=
  distributions: bdist_wheel
  edge:
    branch: v1.8.45
  on:
    tags: true
    repo: adobe-type-tools/afdko
    condition: "$BUILD_DIST == true"
