language: python

sudo: required

python:
  - "2.7"

#before_install:

install:
  - pip install --upgrade pip
  - pip install --upgrade wheel cython
  - pip install codecov
  - pip install collective.checkdocs
  - pip install pygments
  - pip install flake8

script:
  - python setup.py checkdocs
  - python setup.py check --restructuredtext --strict
  - python setup.py bdist_wheel
  - pip install dist/*.whl
  - cd afdko/Tools/SharedData/FDKScripts
  - flake8 buildCFF2VF.py
  - flake8 buildMasterOTFs.py
  - flake8 CheckOutlinesUFO.py
  - flake8 ConvertFontToCID.py
  - flake8 FDKUtils.py
  - flake8 MakeOTF.py
  - flake8 ufoTools.py
  - coverage run --source=. CheckOutlinesUFO.py --test
  - pip uninstall afdko

after_success:
  - codecov

notifications:
  slack: typekit:y89H3n4sxK0ORpapm8zHDu3l
  email:
    on_success: change
    on_failure: always
