sudo: required
matrix:
  include:
    - os: linux
      env: NAME=Linux
      # BUILD NOTE:
      # Travis treats git tags as if they're branches.
      # All branches (with and without a PR) are allowed to be built as
      # long as they do NOT match the regex below. Git tags matching the
      # regex below are used when we want a deployment to happen.
      # The regex is meant to match:
      # digit(s).digit(s).digit(s) plus optional additional characters.
      if: NOT branch =~ /^\d+\.\d+\.\d+.*$/
      python: 2.7
      install:
        - sudo apt-get install g++-multilib
        - sudo -H pip install --upgrade pip
        - pip install --user --upgrade setuptools setuptools_scm wheel cython
      script:
        - python setup.py bdist_wheel
        - pip install --user dist/*.whl
        - pip uninstall --yes afdko

    - os: osx
      env: NAME=OSX
      # See 'BUILD NOTE' above.
      if: NOT branch =~ /^\d+\.\d+\.\d+.*$/
      language: generic
      install:
        - curl -O https://bootstrap.pypa.io/get-pip.py
        - python get-pip.py --user
        - python -m pip install --user virtualenv
        - python -m virtualenv .venv/
        - source .venv/bin/activate
        - pip install -U -r requirements-dev.txt
      before_script:
        - export PYTHONPATH=$PYTHONPATH:$(pwd)
      script:
        - flake8 setup.py
        - flake8 Tests/*.py
        - pushd python/afdko
        - flake8 buildcff2vf.py
        - flake8 buildmasterotfs.py
        - flake8 checkoutlinesufo.py
        - flake8 convertfonttocid.py
        - flake8 fdkutils.py
        - flake8 makeinstancesufo.py
        - flake8 makeotf.py
        - flake8 otfpdf.py
        - flake8 pdfmetrics.py
        - flake8 ttfcomponentizer.py
        - flake8 ttxn.py
        - flake8 ufotools.py
        - popd
        - cpplint --recursive c/autohint
        - python setup.py bdist_wheel
        - deactivate
        - export PATH=$PATH:'/Users/travis/Library/Python/2.7/bin'
        - python -m pip install --user -U --force-reinstall dist/*.whl
        - python -m pip install --user -r requirements-dev.txt
        - pytest --cov
        - coverage combine
        - python -m pip uninstall --yes afdko
      after_success:
        - codecov

    - os: linux
      sudo: required
      services:
        - docker
      env:
        - NAME=Linux-deploy
        - DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
        - BUILD_DIST=true
      # DEPLOYMENT NOTE:
      # Deploy only when a git tag matching the regex below is pushed.
      # Travis treats git tags as if they're branches.
      if: type = push AND branch =~ /^\d+\.\d+\.\d+.*$/
      language: python
      python: 2.7
      # skip default 'install' and 'script' steps: all the work is in
      # before_deploy
      install: true
      script: true

    - os: osx
      osx_image: xcode6.4
      env:
        - NAME=OSX-deploy
        - BUILD_DIST=true
      # See 'DEPLOYMENT NOTE' above.
      if: type = push AND branch =~ /^\d+\.\d+\.\d+.*$/
      language: generic

cache:
  - pip
  - directories:
    - $HOME/.pyenv_cache

notifications:
  slack: typekit:TRAVIS_SLACK_TOKEN
  email:
    on_success: change
    on_failure: always

before_deploy:
  - ./.travis/before_deploy.sh

deploy:
  # deploy to Github Releases on tags
  - provider: releases
    api_key:
      secure: JYAxvC7A46oY0mmhEknUzJ5iTeLwBWyV0ZnNXlx3t6uhKmmPadxSSkTR4uI87DXfYQBlvNnw+VDHaTeaaaXZOUXmcLn7UIjHsBqdhCGKWMKQ2Z0HpSMvYEUVUezHsLteZvdeL1i4c/q7Iaf2SuNuzOlnNvWomxC24yI/cSzRpqP0wumyXh8Qewod7B5/X2mBO8ICxkEETJBFlwHiWyN8p0lF/aaRIOmujHTqQCBy7xN81rGUcsmY5EaU4ojdwybUaa9e1XRNwwWxO3XOVMsSrlAOb8+PLlegi+LY5vi6e2udVHcRtm/2f0RZuKKjfQ6RMPumqkcCerKE5IdZr2NK0P74HXIrqJ4YX8dSIDk8IVEWgZxiYqBpAtXJvq40V90Mh0atR5318WtcUhPzZftVp5JajU+EU1FmyusNdjnHSYosNKVjCEkwqf3fySLk2uxqiDnyIwMUBsvmewwWCMw0NUOFHyG5uOKqRO4n5NWDnrqaUgcenbB/EZtIE/jrGddW7OgHCVS1jcqcTFK0yfz7X98ej6V1OJqEIwLZe2ZDNTGspcIsP83mtahJFF4lLuyfa5/cN7t/1Gc3rC0qNYa3diMK4gV8K3r1c7yjAy5d3siXspx/2Rb7u7jdbI8JLzWGfuByJj9MuN1RRP7nkqMkxpyDzib4QEG169Lb5Rus+Aw=
    skip_cleanup: true
    file_glob: true
    file: "dist/*"
    on:
      tags: true
      repo: adobe-type-tools/afdko
      condition: "$BUILD_DIST == true"
  # deploy to PyPI on tags
  - provider: script
    script: bash ./.travis/deploy.sh
    skip_cleanup: true
    on:
      tags: true
      repo: adobe-type-tools/afdko
      condition: "$BUILD_DIST == true"
