language: python
python: 3.6

env:
  global:
    - CIBW_BUILD="cp36-macosx_10_6_intel cp36-manylinux1_x86_64"
    - CIBW_TEST_REQUIRES_MACOS="pytest-cov codecov"
    - CIBW_TEST_REQUIRES_LINUX="pytest"
    - CIBW_TEST_COMMAND_MACOS="cd {project} && pytest --cov && codecov && pip uninstall --yes afdko"
    - CIBW_TEST_COMMAND_LINUX="cd {project} && pytest && pip uninstall --yes afdko"
    - TWINE_USERNAME="adobe-type-tools-ci"
    # Note: TWINE_PASSWORD is set in Travis settings

matrix:
  fast_finish: true
  include:
    - os: linux
      sudo: required
      services: docker
      env:
        - NAME=Linux
        - PIP=pip
        - PYTHON=python

    - os: osx
      language: generic
      env:
        - NAME=OSX
        - PIP=pip3
        - PYTHON=python3

script:
  - $PIP install --upgrade pip
  # - $PIP install cibuildwheel
  - $PIP install git+https://github.com/adobe-type-tools/cibuildwheel
  - cibuildwheel --output-dir wheelhouse

after_success:
  # create source distribution
  # and deploy to PyPI on tags
  - |
    if [[ $TRAVIS_TAG ]]; then
      $PYTHON -m pip install twine
      $PYTHON -m twine upload wheelhouse/*.whl
      if [[ $TRAVIS_OS_NAME == "osx" ]]; then
        $PYTHON setup.py sdist
        $PYTHON -m twine upload dist/*.tar.gz
      fi
    fi

deploy:
  # deploy to Github Releases on tags
  - provider: releases
    api_key:
      secure: JYAxvC7A46oY0mmhEknUzJ5iTeLwBWyV0ZnNXlx3t6uhKmmPadxSSkTR4uI87DXfYQBlvNnw+VDHaTeaaaXZOUXmcLn7UIjHsBqdhCGKWMKQ2Z0HpSMvYEUVUezHsLteZvdeL1i4c/q7Iaf2SuNuzOlnNvWomxC24yI/cSzRpqP0wumyXh8Qewod7B5/X2mBO8ICxkEETJBFlwHiWyN8p0lF/aaRIOmujHTqQCBy7xN81rGUcsmY5EaU4ojdwybUaa9e1XRNwwWxO3XOVMsSrlAOb8+PLlegi+LY5vi6e2udVHcRtm/2f0RZuKKjfQ6RMPumqkcCerKE5IdZr2NK0P74HXIrqJ4YX8dSIDk8IVEWgZxiYqBpAtXJvq40V90Mh0atR5318WtcUhPzZftVp5JajU+EU1FmyusNdjnHSYosNKVjCEkwqf3fySLk2uxqiDnyIwMUBsvmewwWCMw0NUOFHyG5uOKqRO4n5NWDnrqaUgcenbB/EZtIE/jrGddW7OgHCVS1jcqcTFK0yfz7X98ej6V1OJqEIwLZe2ZDNTGspcIsP83mtahJFF4lLuyfa5/cN7t/1Gc3rC0qNYa3diMK4gV8K3r1c7yjAy5d3siXspx/2Rb7u7jdbI8JLzWGfuByJj9MuN1RRP7nkqMkxpyDzib4QEG169Lb5Rus+Aw=
    skip_cleanup: true
    file_glob: true
    file:
      - wheelhouse/*.whl
      - dist/*.tar.gz
    prerelease: true
    on:
      tags: true

notifications:
  email:
    on_failure: always
