include README.rst
include LICENSE.md
include NEWS.rst
include afdko/AFDKO-Overview.html

recursive-include		afdko/Tools/SharedData/Adobe?Cmaps *
recursive-include		afdko/Tools/SharedData/CID?charsets *

include		afdko/Tools/SharedData/AGD.txt
include		afdko/FDKReleaseNotes.txt

