[build-system]
requires = [
	"setuptools",
	"wheel",
	"setuptools_scm",
	"scikit-build",
	"cmake",
	"ninja"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "python/afdko/otfautohint/_version.py"
