# 'lxml' is not a primary requirement of afdko but it's listed here because
# we want to have control over the version and guarantee that the XML output
# of our tools is stable
# NOTE: hard-pinning (==) here gets relaxed to >= in setup.py
lxml==4.6.3
booleanOperations==0.9.0
defcon[lxml,pens]==0.9.0
fontMath==0.8.1
fontTools[woff,lxml,unicode,ufo]==4.27.1
psautohint==2.3.1
tqdm==4.62.3
ufonormalizer==0.6.1
ufoProcessor==1.9.0
