<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>C12129</key>
	<string>C_12129.glif</string>
	<key>C12130</key>
	<string>C_12130.glif</string>
	<key>C12131</key>
	<string>C_12131.glif</string>
	<key>C12132</key>
	<string>C_12132.glif</string>
	<key>C12139</key>
	<string>C_12139.glif</string>
	<key>C12140</key>
	<string>C_12140.glif</string>
	<key>C12141</key>
	<string>C_12141.glif</string>
	<key>C12142</key>
	<string>C_12142.glif</string>
</dict>
</plist>
