<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>658</integer>
    <key>capHeight</key>
    <integer>631</integer>
    <key>descender</key>
    <integer>-231</integer>
    <key>familyName</key>
    <string>bend_test</string>
    <key>guidelines</key>
    <array/>
    <key>openTypeHeadCreated</key>
    <string>2020/04/25 12:54:40</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>428</integer>
      <integer>448</integer>
      <integer>499</integer>
      <integer>519</integer>
      <integer>606</integer>
      <integer>622</integer>
      <integer>625</integer>
      <integer>643</integer>
      <integer>647</integer>
      <integer>667</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>bend_test-Bold</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-241</integer>
      <integer>-221</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>47</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>157</integer>
    </array>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>437</integer>
  </dict>
</plist>
