<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cid01538</key>
    <string>cid01538.glif</string>
    <key>cid01541</key>
    <string>cid01541.glif</string>
    <key>cid01560</key>
    <string>cid01560.glif</string>
    <key>cid22139</key>
    <string>cid22139.glif</string>
    <key>cid22144</key>
    <string>cid22144.glif</string>
    <key>cid22280</key>
    <string>cid22280.glif</string>
  </dict>
</plist>
