#include "../../../../public/lib/config/xcconfig/debug.xcconfig"
// ../../../../build/hotpccts/pccts/h is needed only by the hotconv library
HEADER_SEARCH_PATHS =  $(SDKROOT)/usr/include  ../../../../api/** ../../../../resource/**   ../../../../../../public/lib/api/**   ../../../../../../public/lib/resource/** ../../../../build/hotpccts/pccts/h
