<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>copyright</key>
    <string>Copyright (c) 2012-2019 The Libertinus Project Authors.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>658</integer>
    <key>xHeight</key>
    <integer>429</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>postscriptFontName</key>
    <string>BigGlyph</string>
    <key>postscriptFullName</key>
    <string>BigGlyph</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>429</integer>
      <integer>442</integer>
      <integer>460</integer>
      <integer>472</integer>
      <integer>600</integer>
      <integer>610</integer>
      <integer>645</integer>
      <integer>658</integer>
      <integer>688</integer>
      <integer>698</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-238</integer>
      <integer>-227</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>429</integer>
      <integer>442</integer>
      <integer>460</integer>
      <integer>472</integer>
      <integer>600</integer>
      <integer>610</integer>
      <integer>645</integer>
      <integer>658</integer>
      <integer>688</integer>
      <integer>698</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-238</integer>
      <integer>-227</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>36</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>79</integer>
      <integer>86</integer>
    </array>
    <key>postscriptBlueShift</key>
    <integer>6</integer>
    <key>postscriptBlueScale</key>
    <real>0.0396</real>
  </dict>
</plist>
