<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FDArraySelect.0.SourceHanSans-Heavy-Generic</key>
	<array>
		<string>cid00000</string>
	</array>
	<key>FDArraySelect.1.SourceHanSans-Heavy-Ideographs</key>
	<array>
		<string>cid17899</string>
		<string>cid17900</string>
		<string>cid17901</string>
		<string>cid17902</string>
		<string>cid17903</string>
		<string>cid17904</string>
		<string>cid17905</string>
		<string>cid17906</string>
		<string>cid17907</string>
		<string>cid17908</string>
		<string>cid17909</string>
		<string>cid17910</string>
		<string>cid17911</string>
		<string>cid17912</string>
		<string>cid17913</string>
		<string>cid17914</string>
		<string>cid17915</string>
		<string>cid17916</string>
		<string>cid17917</string>
		<string>cid17918</string>
		<string>cid17919</string>
		<string>cid17920</string>
		<string>cid17921</string>
		<string>cid17922</string>
		<string>cid17923</string>
		<string>cid17924</string>
		<string>cid17925</string>
		<string>cid17926</string>
		<string>cid17927</string>
		<string>cid17928</string>
		<string>cid17929</string>
		<string>cid17930</string>
		<string>cid17931</string>
		<string>cid17932</string>
		<string>cid17933</string>
		<string>cid17934</string>
		<string>cid17935</string>
		<string>cid17936</string>
		<string>cid17937</string>
		<string>cid17938</string>
		<string>cid17939</string>
		<string>cid17940</string>
		<string>cid17941</string>
		<string>cid17942</string>
		<string>cid17943</string>
		<string>cid17944</string>
		<string>cid17945</string>
		<string>cid17946</string>
		<string>cid17947</string>
		<string>cid17948</string>
		<string>cid17949</string>
		<string>cid17950</string>
		<string>cid17951</string>
		<string>cid17952</string>
		<string>cid17953</string>
		<string>cid17954</string>
		<string>cid17955</string>
		<string>cid17956</string>
		<string>cid17957</string>
		<string>cid17958</string>
		<string>cid17959</string>
		<string>cid17960</string>
		<string>cid17961</string>
		<string>cid17962</string>
		<string>cid17963</string>
		<string>cid17964</string>
		<string>cid17965</string>
		<string>cid17966</string>
		<string>cid17967</string>
		<string>cid17968</string>
		<string>cid17969</string>
		<string>cid17970</string>
		<string>cid17971</string>
		<string>cid17972</string>
		<string>cid17973</string>
		<string>cid17974</string>
		<string>cid17975</string>
		<string>cid17976</string>
		<string>cid17977</string>
		<string>cid17978</string>
		<string>cid17979</string>
		<string>cid17980</string>
		<string>cid17981</string>
		<string>cid17982</string>
		<string>cid17983</string>
		<string>cid17984</string>
		<string>cid17985</string>
		<string>cid17986</string>
		<string>cid17987</string>
		<string>cid17988</string>
		<string>cid17989</string>
		<string>cid17990</string>
		<string>cid17991</string>
		<string>cid17992</string>
		<string>cid17993</string>
		<string>cid17994</string>
		<string>cid17995</string>
		<string>cid17996</string>
		<string>cid17997</string>
		<string>cid17998</string>
		<string>cid17999</string>
		<string>cid18000</string>
		<string>cid18001</string>
		<string>cid18002</string>
		<string>cid18003</string>
		<string>cid18004</string>
		<string>cid18005</string>
		<string>cid18006</string>
		<string>cid18007</string>
		<string>cid18008</string>
		<string>cid18009</string>
		<string>cid18010</string>
		<string>cid18011</string>
		<string>cid18012</string>
		<string>cid18013</string>
		<string>cid18014</string>
		<string>cid18015</string>
		<string>cid18016</string>
		<string>cid18017</string>
		<string>cid18018</string>
		<string>cid18019</string>
		<string>cid18020</string>
		<string>cid34457</string>
		<string>cid34458</string>
		<string>cid34459</string>
		<string>cid34460</string>
		<string>cid34461</string>
		<string>cid34462</string>
		<string>cid34463</string>
	</array>
	<key>FDArraySelect.2.DoesNotExist</key>
	<array>
		<string>cid34464</string>
		<string>cid34465</string>
		<string>cid34466</string>
		<string>cid34467</string>
		<string>cid34468</string>
	</array>
</dict>
</plist>
