<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cid00000</key>
	<string>cid00000.glif</string>
	<key>cid17899</key>
	<string>cid17899.glif</string>
	<key>cid17900</key>
	<string>cid17900.glif</string>
	<key>cid17901</key>
	<string>cid17901.glif</string>
	<key>cid17902</key>
	<string>cid17902.glif</string>
	<key>cid17903</key>
	<string>cid17903.glif</string>
	<key>cid17904</key>
	<string>cid17904.glif</string>
	<key>cid17905</key>
	<string>cid17905.glif</string>
	<key>cid17906</key>
	<string>cid17906.glif</string>
	<key>cid17907</key>
	<string>cid17907.glif</string>
	<key>cid17908</key>
	<string>cid17908.glif</string>
	<key>cid17909</key>
	<string>cid17909.glif</string>
	<key>cid17910</key>
	<string>cid17910.glif</string>
	<key>cid17911</key>
	<string>cid17911.glif</string>
	<key>cid17912</key>
	<string>cid17912.glif</string>
	<key>cid17913</key>
	<string>cid17913.glif</string>
	<key>cid17914</key>
	<string>cid17914.glif</string>
	<key>cid17915</key>
	<string>cid17915.glif</string>
	<key>cid17916</key>
	<string>cid17916.glif</string>
	<key>cid17917</key>
	<string>cid17917.glif</string>
	<key>cid17918</key>
	<string>cid17918.glif</string>
	<key>cid17919</key>
	<string>cid17919.glif</string>
	<key>cid17920</key>
	<string>cid17920.glif</string>
	<key>cid17921</key>
	<string>cid17921.glif</string>
	<key>cid17922</key>
	<string>cid17922.glif</string>
	<key>cid17923</key>
	<string>cid17923.glif</string>
	<key>cid17924</key>
	<string>cid17924.glif</string>
	<key>cid17925</key>
	<string>cid17925.glif</string>
	<key>cid17926</key>
	<string>cid17926.glif</string>
	<key>cid17927</key>
	<string>cid17927.glif</string>
	<key>cid17928</key>
	<string>cid17928.glif</string>
	<key>cid17929</key>
	<string>cid17929.glif</string>
	<key>cid17930</key>
	<string>cid17930.glif</string>
	<key>cid17931</key>
	<string>cid17931.glif</string>
	<key>cid17932</key>
	<string>cid17932.glif</string>
	<key>cid17933</key>
	<string>cid17933.glif</string>
	<key>cid17934</key>
	<string>cid17934.glif</string>
	<key>cid17935</key>
	<string>cid17935.glif</string>
	<key>cid17936</key>
	<string>cid17936.glif</string>
	<key>cid17937</key>
	<string>cid17937.glif</string>
	<key>cid17938</key>
	<string>cid17938.glif</string>
	<key>cid17939</key>
	<string>cid17939.glif</string>
	<key>cid17940</key>
	<string>cid17940.glif</string>
	<key>cid17941</key>
	<string>cid17941.glif</string>
	<key>cid17942</key>
	<string>cid17942.glif</string>
	<key>cid17943</key>
	<string>cid17943.glif</string>
	<key>cid17944</key>
	<string>cid17944.glif</string>
	<key>cid17945</key>
	<string>cid17945.glif</string>
	<key>cid17946</key>
	<string>cid17946.glif</string>
	<key>cid17947</key>
	<string>cid17947.glif</string>
	<key>cid17948</key>
	<string>cid17948.glif</string>
	<key>cid17949</key>
	<string>cid17949.glif</string>
	<key>cid17950</key>
	<string>cid17950.glif</string>
	<key>cid17951</key>
	<string>cid17951.glif</string>
	<key>cid17952</key>
	<string>cid17952.glif</string>
	<key>cid17953</key>
	<string>cid17953.glif</string>
	<key>cid17954</key>
	<string>cid17954.glif</string>
	<key>cid17955</key>
	<string>cid17955.glif</string>
	<key>cid17956</key>
	<string>cid17956.glif</string>
	<key>cid17957</key>
	<string>cid17957.glif</string>
	<key>cid17958</key>
	<string>cid17958.glif</string>
	<key>cid17959</key>
	<string>cid17959.glif</string>
	<key>cid17960</key>
	<string>cid17960.glif</string>
	<key>cid17961</key>
	<string>cid17961.glif</string>
	<key>cid17962</key>
	<string>cid17962.glif</string>
	<key>cid17963</key>
	<string>cid17963.glif</string>
	<key>cid17964</key>
	<string>cid17964.glif</string>
	<key>cid17965</key>
	<string>cid17965.glif</string>
	<key>cid17966</key>
	<string>cid17966.glif</string>
	<key>cid17967</key>
	<string>cid17967.glif</string>
	<key>cid17968</key>
	<string>cid17968.glif</string>
	<key>cid17969</key>
	<string>cid17969.glif</string>
	<key>cid17970</key>
	<string>cid17970.glif</string>
	<key>cid17971</key>
	<string>cid17971.glif</string>
	<key>cid17972</key>
	<string>cid17972.glif</string>
	<key>cid17973</key>
	<string>cid17973.glif</string>
	<key>cid17974</key>
	<string>cid17974.glif</string>
	<key>cid17975</key>
	<string>cid17975.glif</string>
	<key>cid17976</key>
	<string>cid17976.glif</string>
	<key>cid17977</key>
	<string>cid17977.glif</string>
	<key>cid17978</key>
	<string>cid17978.glif</string>
	<key>cid17979</key>
	<string>cid17979.glif</string>
	<key>cid17980</key>
	<string>cid17980.glif</string>
	<key>cid17981</key>
	<string>cid17981.glif</string>
	<key>cid17982</key>
	<string>cid17982.glif</string>
	<key>cid17983</key>
	<string>cid17983.glif</string>
	<key>cid17984</key>
	<string>cid17984.glif</string>
	<key>cid17985</key>
	<string>cid17985.glif</string>
	<key>cid17986</key>
	<string>cid17986.glif</string>
	<key>cid17987</key>
	<string>cid17987.glif</string>
	<key>cid17988</key>
	<string>cid17988.glif</string>
	<key>cid17989</key>
	<string>cid17989.glif</string>
	<key>cid17990</key>
	<string>cid17990.glif</string>
	<key>cid17991</key>
	<string>cid17991.glif</string>
	<key>cid17992</key>
	<string>cid17992.glif</string>
	<key>cid17993</key>
	<string>cid17993.glif</string>
	<key>cid17994</key>
	<string>cid17994.glif</string>
	<key>cid17995</key>
	<string>cid17995.glif</string>
	<key>cid17996</key>
	<string>cid17996.glif</string>
	<key>cid17997</key>
	<string>cid17997.glif</string>
	<key>cid17998</key>
	<string>cid17998.glif</string>
</dict>
</plist>
