<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>c1177</string>
			<string>c13393</string>
			<string>c13498</string>
			<string>c13887</string>
			<string>c14066</string>
			<string>c14872</string>
			<string>c14879</string>
			<string>c15147</string>
			<string>c15202</string>
			<string>c15324</string>
			<string>c16877</string>
			<string>c16976</string>
			<string>c17290</string>
			<string>c17700</string>
			<string>c17751</string>
			<string>c17852</string>
			<string>c17986</string>
			<string>c18165</string>
			<string>c18480</string>
			<string>c18868</string>
			<string>c19523</string>
			<string>c19753</string>
			<string>c1984</string>
			<string>c2057</string>
			<string>c21305</string>
			<string>c21932</string>
			<string>c22029</string>
			<string>c22050</string>
			<string>c22369</string>
			<string>c22370</string>
			<string>c22379</string>
			<string>c22395</string>
			<string>c22450</string>
			<string>c2267</string>
			<string>c2645</string>
			<string>c2663</string>
			<string>c3452</string>
			<string>c3555</string>
			<string>c3758</string>
			<string>c4866</string>
			<string>c5640</string>
			<string>c6260</string>
			<string>c6378</string>
			<string>c6385</string>
			<string>c6440</string>
			<string>c6447</string>
			<string>c6449</string>
			<string>c6550</string>
			<string>c6821</string>
			<string>c7225</string>
			<string>c7253</string>
			<string>c7701</string>
			<string>c7716</string>
			<string>c7734</string>
			<string>c8611</string>
		</array>
	</dict>
</plist>
