<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ngrave</key>
    <string>N_grave.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashmacron</key>
    <string>O_slashmacron.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>caroncmb.cap</key>
    <string>caroncmb.cap.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedillacmb.cap</key>
    <string>cedillacmb.cap.glif</string>
    <key>commabelowcmb</key>
    <string>commabelowcmb.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
  </dict>
</plist>
