<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>cid00000</string>
		<string>cid17899</string>
		<string>cid17900</string>
		<string>cid17901</string>
		<string>cid17902</string>
		<string>cid17903</string>
		<string>cid17904</string>
		<string>cid17905</string>
		<string>cid17906</string>
		<string>cid17907</string>
		<string>cid17908</string>
		<string>cid17909</string>
		<string>cid17910</string>
		<string>cid17911</string>
		<string>cid17912</string>
		<string>cid17913</string>
		<string>cid17914</string>
		<string>cid17915</string>
		<string>cid17916</string>
		<string>cid17917</string>
		<string>cid17918</string>
		<string>cid17919</string>
		<string>cid17920</string>
		<string>cid17921</string>
		<string>cid17922</string>
		<string>cid17923</string>
		<string>cid17924</string>
		<string>cid17925</string>
		<string>cid17926</string>
		<string>cid17927</string>
		<string>cid17928</string>
		<string>cid17929</string>
		<string>cid17930</string>
		<string>cid17931</string>
		<string>cid17932</string>
		<string>cid17933</string>
		<string>cid17934</string>
		<string>cid17935</string>
		<string>cid17936</string>
		<string>cid17937</string>
		<string>cid17938</string>
		<string>cid17939</string>
		<string>cid17940</string>
		<string>cid17941</string>
		<string>cid17942</string>
		<string>cid17943</string>
		<string>cid17944</string>
		<string>cid17945</string>
		<string>cid17946</string>
		<string>cid17947</string>
		<string>cid17948</string>
		<string>cid17949</string>
		<string>cid17950</string>
		<string>cid17951</string>
		<string>cid17952</string>
		<string>cid17953</string>
		<string>cid17954</string>
		<string>cid17955</string>
		<string>cid17956</string>
		<string>cid17957</string>
		<string>cid17958</string>
		<string>cid17959</string>
		<string>cid17960</string>
		<string>cid17961</string>
		<string>cid17962</string>
		<string>cid17963</string>
		<string>cid17964</string>
		<string>cid17965</string>
		<string>cid17966</string>
		<string>cid17967</string>
		<string>cid17968</string>
		<string>cid17969</string>
		<string>cid17970</string>
		<string>cid17971</string>
		<string>cid17972</string>
		<string>cid17973</string>
		<string>cid17974</string>
		<string>cid17975</string>
		<string>cid17976</string>
		<string>cid17977</string>
		<string>cid17978</string>
		<string>cid17979</string>
		<string>cid17980</string>
		<string>cid17981</string>
		<string>cid17982</string>
		<string>cid17983</string>
		<string>cid17984</string>
		<string>cid17985</string>
		<string>cid17986</string>
		<string>cid17987</string>
		<string>cid17988</string>
		<string>cid17989</string>
		<string>cid17990</string>
		<string>cid17991</string>
		<string>cid17992</string>
		<string>cid17993</string>
		<string>cid17994</string>
		<string>cid17995</string>
		<string>cid17996</string>
		<string>cid17997</string>
		<string>cid17998</string>
		<string>cid17999</string>
		<string>cid18000</string>
		<string>cid18001</string>
		<string>cid18002</string>
		<string>cid18003</string>
		<string>cid18004</string>
		<string>cid18005</string>
		<string>cid18006</string>
		<string>cid18007</string>
		<string>cid18008</string>
		<string>cid18009</string>
		<string>cid18010</string>
		<string>cid18011</string>
		<string>cid18012</string>
		<string>cid18013</string>
		<string>cid18014</string>
		<string>cid18015</string>
		<string>cid18016</string>
		<string>cid18017</string>
		<string>cid18018</string>
		<string>cid18019</string>
		<string>cid18020</string>
		<string>cid34457</string>
		<string>cid34458</string>
		<string>cid34459</string>
		<string>cid34460</string>
		<string>cid34461</string>
		<string>cid34462</string>
		<string>cid34463</string>
		<string>cid34464</string>
		<string>cid34465</string>
		<string>cid34466</string>
		<string>cid34467</string>
		<string>cid34468</string>
	</array>
	<key>com.adobe.type.cid.CIDFontName</key>
	<string>SourceHanSansVF-Heavy</string>
	<key>com.adobe.type.cid.Registry</key>
	<string>Adobe</string>
	<key>com.adobe.type.cid.Ordering</key>
	<string>Identity</string>
	<key>com.adobe.type.cid.Supplement</key>
	<integer>0</integer>
	<key>com.adobe.type.FSType</key>
	<integer>0</integer>
	<key>com.adobe.type.postscriptFDArray</key>
	<array>
	<dict>
	<key>FontName</key>
	<string>SourceHanSans-Heavy-Generic</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>35</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>28</integer>
		<integer>46</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>28</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>LanguageGroup</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	<dict>
	<key>FontName</key>
	<string>SourceHanSans-Heavy-Ideographs</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>35</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>28</integer>
		<integer>46</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>28</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>LanguageGroup</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	</array>
	<key>com.adobe.type.postscriptCIDMap</key>
	<dict>
	<key>cid00000</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>0</integer>
	<key>com.adobe.type.iFD</key>
	<integer>0</integer>
	</dict>
	<key>cid17899</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17899</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17900</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17900</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17901</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17901</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17902</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17902</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17903</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17903</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17904</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17904</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17905</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17905</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17906</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17906</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17907</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17907</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17908</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17908</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17909</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17909</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17910</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17910</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17911</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17911</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17912</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17912</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17913</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17913</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17914</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17914</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17915</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17915</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17916</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17916</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17917</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17917</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17918</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17918</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17919</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17919</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17920</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17920</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17921</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17921</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17922</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17922</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17923</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17923</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17924</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17924</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17925</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17925</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17926</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17926</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17927</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17927</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17928</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17928</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17929</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17929</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17930</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17930</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17931</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17931</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17932</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17932</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17933</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17933</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17934</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17934</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17935</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17935</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17936</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17936</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17937</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17937</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17938</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17938</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17939</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17939</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17940</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17940</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17941</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17941</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17942</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17942</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17943</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17943</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17944</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17944</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17945</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17945</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17946</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17946</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17947</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17947</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17948</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17948</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17949</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17949</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17950</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17950</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17951</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17951</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17952</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17952</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17953</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17953</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17954</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17954</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17955</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17955</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17956</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17956</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17957</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17957</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17958</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17958</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17959</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17959</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17960</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17960</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17961</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17961</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17962</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17962</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17963</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17963</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17964</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17964</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17965</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17965</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17966</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17966</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17967</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17967</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17968</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17968</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17969</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17969</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17970</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17970</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17971</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17971</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17972</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17972</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17973</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17973</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17974</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17974</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17975</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17975</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17976</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17976</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17977</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17977</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17978</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17978</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17979</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17979</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17980</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17980</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17981</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17981</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17982</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17982</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17983</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17983</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17984</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17984</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17985</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17985</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17986</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17986</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17987</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17987</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17988</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17988</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17989</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17989</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17990</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17990</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17991</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17991</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17992</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17992</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17993</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17993</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17994</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17994</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17995</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17995</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17996</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17996</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17997</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17997</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17998</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17998</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid17999</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>17999</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18000</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18000</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18001</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18001</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18002</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18002</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18003</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18003</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18004</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18004</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18005</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18005</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18006</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18006</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18007</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18007</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18008</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18008</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18009</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18009</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18010</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18010</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18011</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18011</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18012</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18012</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18013</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18013</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18014</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18014</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18015</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18015</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18016</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18016</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18017</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18017</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18018</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18018</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18019</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18019</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid18020</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>18020</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34457</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34457</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34458</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34458</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34459</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34459</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34460</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34460</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34461</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34461</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34462</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34462</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34463</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34463</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34464</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34464</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34465</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34465</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34466</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34466</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34467</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34467</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid34468</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>34468</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	</dict>
</dict>
</plist>
