<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>cid00000</string>
		<string>cid17899</string>
		<string>cid17900</string>
		<string>cid17901</string>
	</array>
	<key>postscriptFDArray</key>
	<array>
	<dict>
	<key></key>
	<string>SourceHanSans-Heavy-Generic</string>
	<key>PaintType</key>
	<integer>3</integer>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	</dict>
	</dict>
	</array>
	<key>com.adobe.type.postscriptCIDMap</key>
	<dict>
		<key>cid00000</key>
		<integer>0</integer>
		<key>cid17899</key>
		<integer>17899</integer>
		<key>cid17900</key>
		<integer>17900</integer>
		<key>cid17901</key>
		<integer>17901</integer>
	</dict>
	<key>com.adobe.type.cid.CIDFontName</key>
	<string>Minimal-UFO</string>
	<key>com.adobe.type.cid.Registry</key>
	<string>Adobe</string>
	<key>com.adobe.type.cid.Ordering</key>
	<string>Identity</string>
	<key>com.adobe.type.cid.Supplement</key>
	<integer>0</integer>
</dict>
</plist>
