<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>/C12132</string>
		<string></string>
		<string>/C12142</string>
		<string>/C12141</string>
		<string>/C12132</string>
		<string>/C12142</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>/C12142</string>
		<string>/C12142</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>UUID0</key>
			<dict>
			</dict>
			<key>UUID1</key>
			<dict>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.font.新規プロパティ</key>
	<string>新しい値</string>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>C7608</string>
		<string>C7609</string>
		<string>C7624</string>
		<string>C7629</string>
		<string>C7630</string>
		<string>C7956</string>
		<string>C7957</string>
		<string>C8005</string>
		<string>C8011</string>
		<string>C8012</string>
		<string>C8013</string>
		<string>C8014</string>
		<string>C8015</string>
		<string>C8016</string>
		<string>C8017</string>
		<string>C8018</string>
		<string>C8019</string>
		<string>C8056</string>
		<string>C8057</string>
		<string>C8058</string>
		<string>C8166</string>
		<string>C8167</string>
		<string>C8168</string>
		<string>C8170</string>
		<string>C8171</string>
		<string>C8172</string>
		<string>C8174</string>
		<string>C8175</string>
		<string>C8176</string>
		<string>C8178</string>
		<string>C8179</string>
		<string>C8180</string>
		<string>C8195</string>
		<string>C8206</string>
		<string>C8207</string>
		<string>C8208</string>
		<string>C8209</string>
		<string>C8211</string>
		<string>C8212</string>
		<string>C8213</string>
		<string>C8214</string>
		<string>C8215</string>
		<string>C8216</string>
		<string>C8217</string>
		<string>C8218</string>
		<string>C8219</string>
		<string>C8220</string>
		<string>C8221</string>
		<string>C8222</string>
		<string>C8269</string>
		<string>C8273</string>
		<string>C8283</string>
		<string>C8308</string>
		<string>C8309</string>
		<string>C8310</string>
		<string>C8311</string>
		<string>C8312</string>
		<string>C11035</string>
		<string>C11036</string>
		<string>C12089</string>
		<string>C12091</string>
		<string>C12097</string>
		<string>C12098</string>
		<string>C12099</string>
		<string>C12100</string>
		<string>C12106</string>
		<string>C12108</string>
		<string>C12109</string>
		<string>C12110</string>
		<string>C12129</string>
		<string>C12130</string>
		<string>C12131</string>
		<string>C12132</string>
		<string>C12139</string>
		<string>C12140</string>
		<string>C12141</string>
		<string>C12142</string>
		<string>C12143</string>
		<string>C12144</string>
		<string>C12145</string>
		<string>C12146</string>
		<string>C12147</string>
		<string>C12148</string>
		<string>C12149</string>
		<string>C12150</string>
		<string>C12151</string>
		<string>C12152</string>
		<string>C12153</string>
		<string>C12154</string>
		<string>C12155</string>
		<string>C12156</string>
		<string>C12157</string>
		<string>C12158</string>
		<string>C12167</string>
		<string>C12168</string>
		<string>C12173</string>
		<string>C12174</string>
		<string>C12175</string>
		<string>C12176</string>
		<string>C12177</string>
		<string>C12178</string>
		<string>C12179</string>
		<string>C9086</string>
		<string>C9087</string>
		<string>C9089</string>
		<string>C12118</string>
		<string>C12120</string>
		<string>C12121</string>
		<string>C12122</string>
		<string>C12184</string>
		<string>C12185</string>
		<string>C12186</string>
		<string>C12187</string>
		<string>C12188</string>
		<string>C12189</string>
		<string>C12190</string>
		<string>C12200</string>
		<string>C12201</string>
		<string>C12202</string>
		<string>C12203</string>
		<string>C12204</string>
		<string>C12205</string>
		<string>C12206</string>
		<string>C12207</string>
		<string>C12218</string>
		<string>C12219</string>
		<string>C12228</string>
		<string>C12229</string>
		<string>C12237</string>
		<string>C12239</string>
		<string>C12241</string>
		<string>C12254</string>
		<string>C12259</string>
		<string>C16194</string>
		<string>C16195</string>
		<string>C16196</string>
		<string>C16197</string>
		<string>C16198</string>
		<string>C16199</string>
		<string>C16200</string>
		<string>C16201</string>
		<string>C16202</string>
		<string>C16203</string>
		<string>C16205</string>
		<string>C16207</string>
		<string>C16208</string>
		<string>C16233</string>
		<string>C16234</string>
		<string>C16235</string>
		<string>C16271</string>
		<string>C16272</string>
		<string>C16273</string>
		<string>C16274</string>
		<string>C16275</string>
		<string>C16276</string>
		<string>C16277</string>
		<string>C16281</string>
		<string>C16282</string>
		<string>C16299</string>
		<string>C16300</string>
		<string>C16301</string>
		<string>C16302</string>
		<string>C16303</string>
		<string>C16304</string>
		<string>C16305</string>
		<string>C16306</string>
		<string>C16307</string>
		<string>C16308</string>
		<string>C16309</string>
		<string>C16310</string>
		<string>C16311</string>
		<string>C16312</string>
		<string>C16313</string>
		<string>C16314</string>
		<string>C16322</string>
		<string>C16323</string>
		<string>C16324</string>
		<string>C16325</string>
		<string>C16328</string>
		<string>C16329</string>
		<string>C16330</string>
		<string>C16331</string>
		<string>C16350</string>
		<string>C16351</string>
		<string>C20957</string>
		<string>C0328</string>
		<string>C0329</string>
		<string>C0331</string>
		<string>C0638</string>
		<string>C0645</string>
		<string>C0646</string>
		<string>C0647</string>
		<string>C0648</string>
		<string>C0649</string>
		<string>C0650</string>
		<string>C0655</string>
		<string>C0656</string>
		<string>C0657</string>
		<string>C0659</string>
		<string>C0661</string>
		<string>C0662</string>
		<string>C0663</string>
		<string>C0664</string>
		<string>C0665</string>
		<string>C0666</string>
		<string>C0667</string>
		<string>C0668</string>
		<string>C0669</string>
		<string>C0670</string>
		<string>C0671</string>
		<string>C0672</string>
		<string>C0673</string>
		<string>C0674</string>
		<string>C0675</string>
		<string>C0676</string>
		<string>C0677</string>
		<string>C0678</string>
		<string>C0679</string>
		<string>C0680</string>
		<string>C0681</string>
		<string>C0682</string>
		<string>C0683</string>
		<string>C0684</string>
		<string>C0685</string>
		<string>C0686</string>
		<string>C0687</string>
		<string>C0688</string>
		<string>C0689</string>
		<string>C0690</string>
		<string>C0691</string>
		<string>C0692</string>
		<string>C0693</string>
		<string>C0694</string>
		<string>C0695</string>
		<string>C0696</string>
		<string>C0697</string>
		<string>C0698</string>
		<string>C0699</string>
		<string>C0700</string>
		<string>C0701</string>
		<string>C0702</string>
		<string>C0703</string>
		<string>C0704</string>
		<string>C0705</string>
		<string>C0706</string>
		<string>C0707</string>
		<string>C0708</string>
		<string>C0709</string>
		<string>C0715</string>
		<string>C0716</string>
		<string>C0718</string>
		<string>C0719</string>
		<string>C0720</string>
		<string>C0721</string>
		<string>C0722</string>
		<string>C0723</string>
		<string>C0724</string>
		<string>C0725</string>
		<string>C0726</string>
		<string>C10985</string>
		<string>C7889</string>
		<string>C7890</string>
		<string>C7892</string>
		<string>C7893</string>
		<string>C7894</string>
		<string>C7895</string>
		<string>C7896</string>
		<string>C7897</string>
		<string>C7898</string>
		<string>C7899</string>
		<string>C7900</string>
		<string>C7901</string>
		<string>C7902</string>
		<string>C7903</string>
		<string>C7904</string>
		<string>C7905</string>
		<string>C7906</string>
		<string>C7907</string>
		<string>C7908</string>
		<string>C7909</string>
		<string>C7910</string>
		<string>C7911</string>
		<string>C7912</string>
		<string>C7913</string>
		<string>C7914</string>
		<string>C7915</string>
		<string>C7916</string>
		<string>C7917</string>
		<string>C12639</string>
		<string>C12640</string>
		<string>C0727</string>
		<string>C0728</string>
		<string>C0729</string>
		<string>C0730</string>
		<string>C0731</string>
		<string>C0732</string>
		<string>C0733</string>
		<string>C0734</string>
		<string>C0735</string>
		<string>C0736</string>
		<string>C0737</string>
		<string>C0738</string>
		<string>C0739</string>
		<string>C0740</string>
		<string>C0741</string>
		<string>C0742</string>
		<string>C0743</string>
		<string>C0744</string>
		<string>C0745</string>
		<string>C0746</string>
		<string>C0747</string>
		<string>C0748</string>
		<string>C0749</string>
		<string>C0750</string>
		<string>C0751</string>
		<string>C0752</string>
		<string>C0753</string>
		<string>C0754</string>
		<string>C0755</string>
		<string>C0756</string>
		<string>C0757</string>
		<string>C0758</string>
		<string>C0759</string>
		<string>C0760</string>
		<string>C0761</string>
		<string>C0762</string>
		<string>C0763</string>
		<string>C0764</string>
		<string>C0765</string>
		<string>C0766</string>
		<string>C0767</string>
		<string>C0768</string>
		<string>C0769</string>
		<string>C0770</string>
		<string>C0772</string>
		<string>C0773</string>
		<string>C0774</string>
		<string>C0775</string>
		<string>C0776</string>
		<string>C0777</string>
		<string>C0778</string>
		<string>C0779</string>
		<string>C15478</string>
		<string>C15479</string>
		<string>C16283</string>
		<string>C7625</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>EL</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>0</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>C12129</string>
		<string>C12130</string>
		<string>C12131</string>
		<string>C12132</string>
		<string>C12139</string>
		<string>C12140</string>
		<string>C12141</string>
		<string>C12142</string>
		<string>.notdef</string>
	</array>
</dict>
</plist>
