<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>c13887</key>
		<string>c13887.glif</string>
		<key>c14879</key>
		<string>c14879.glif</string>
		<key>c15147</key>
		<string>c15147.glif</string>
		<key>c15202</key>
		<string>c15202.glif</string>
		<key>c17290</key>
		<string>c17290.glif</string>
		<key>c17700</key>
		<string>c17700.glif</string>
		<key>c17751</key>
		<string>c17751.glif</string>
		<key>c17852</key>
		<string>c17852.glif</string>
		<key>c18165</key>
		<string>c18165.glif</string>
		<key>c1984</key>
		<string>c1984.glif</string>
		<key>c2057</key>
		<string>c2057.glif</string>
		<key>c21932</key>
		<string>c21932.glif</string>
		<key>c22029</key>
		<string>c22029.glif</string>
		<key>c22050</key>
		<string>c22050.glif</string>
		<key>c22450</key>
		<string>c22450.glif</string>
		<key>c2267</key>
		<string>c2267.glif</string>
		<key>c2645</key>
		<string>c2645.glif</string>
		<key>c2663</key>
		<string>c2663.glif</string>
		<key>c3452</key>
		<string>c3452.glif</string>
		<key>c4866</key>
		<string>c4866.glif</string>
		<key>c7225</key>
		<string>c7225.glif</string>
		<key>c7716</key>
		<string>c7716.glif</string>
		<key>c7734</key>
		<string>c7734.glif</string>
	</dict>
</plist>
