<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>global</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>n8Xvxa1qTe</string>
        <key>x</key>
        <integer>-122</integer>
        <key>y</key>
        <integer>-874</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>WG26cur6gy</string>
        <key>x</key>
        <integer>-137</integer>
        <key>y</key>
        <integer>1400</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>global-guides</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>guides</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
