<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cid00000</key>
	<string>cid00000.glif</string>
	<key>cid17899</key>
	<string>cid17899.glif</string>
	<key>cid17900</key>
	<string>cid17900.glif</string>
	<key>cid17901</key>
	<string>cid17901.glif</string>
</dict>
</plist>
