<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>c15324</key>
		<string>c15324.glif</string>
		<key>c17986</key>
		<string>c17986.glif</string>
		<key>c22395</key>
		<string>c22395.glif</string>
	</dict>
</plist>
