<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>postscriptFontName</key>
	<string>TestFont-Regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>familyName</key>
	<string>Test Font</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>trademark</key>
	<string>copyright missing</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>postscriptFullName</key>
	<string>Test Font</string>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptUnderlinePosition</key>
	<integer>-125</integer>
</dict>
</plist>
