<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>cid00000</string>
		<string>cid00001</string>
		<string>cid00002</string>
	</array>
	<key>com.adobe.type.cid.CIDFontName</key>
	<string>TestFont-Regular</string>
	<key>com.adobe.type.cid.Registry</key>
	<string>Adobe</string>
	<key>com.adobe.type.cid.Ordering</key>
	<string>Identity</string>
	<key>com.adobe.type.cid.Supplement</key>
	<integer>0</integer>
	<key>com.adobe.type.FSType</key>
	<integer>4</integer>
	<key>com.adobe.type.postscriptFDArray</key>
	<array>
	<dict>
	<key>FontName</key>
	<string>TestFont-Regular</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>0</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>0</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	</array>
	<key>com.adobe.type.postscriptCIDMap</key>
	<dict>
	<key>cid00000</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>0</integer>
	<key>com.adobe.type.iFD</key>
	<integer>0</integer>
	</dict>
	<key>cid00001</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>1</integer>
	<key>com.adobe.type.iFD</key>
	<integer>0</integer>
	</dict>
	<key>cid00002</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>2</integer>
	<key>com.adobe.type.iFD</key>
	<integer>0</integer>
	</dict>
	</dict>
</dict>
</plist>
