<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>H</string>
      <string>I</string>
      <string>L</string>
      <string>O</string>
      <string>S</string>
      <string>c</string>
      <string>s</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>Hbar</string>
      <string>Icircumflex</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Ngrave</string>
      <string>Ncommaaccent</string>
      <string>Otilde</string>
      <string>Oslash</string>
      <string>Oslashmacron</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>gravecmb.cap</string>
      <string>acutecmb</string>
      <string>acutecmb.cap</string>
      <string>tildecmb.cap</string>
      <string>macroncmb.cap</string>
      <string>dotaccentcmb</string>
      <string>dotaccentcmb.cap</string>
      <string>caroncmb</string>
      <string>caroncmb.cap</string>
      <string>commabelowcmb</string>
      <string>cedillacmb</string>
      <string>cedillacmb.cap</string>
    </array>
  </dict>
</plist>
