<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>810</integer>
		<key>capHeight</key>
		<integer>770</integer>
		<key>descender</key>
		<integer>-230</integer>
		<key>familyName</key>
		<string>qcurve-glyph</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>R9fngWWHur</string>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>773</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>Q42G7Kuhn3</string>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>-7</integer>
			</dict>
		</array>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-14</integer>
			<integer>0</integer>
			<integer>550</integer>
			<integer>564</integer>
			<integer>754</integer>
			<integer>768</integer>
			<integer>770</integer>
			<integer>784</integer>
			<integer>810</integer>
			<integer>820</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>qcurve-glyph</string>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-240</integer>
			<integer>-230</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleName</key>
		<string>0_0</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>550</integer>
	</dict>
</plist>
