<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>750</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Dummy</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>-180</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0625</real>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>474</integer>
			<integer>486</integer>
			<integer>506</integer>
			<integer>518</integer>
			<integer>568</integer>
			<integer>580</integer>
			<integer>641</integer>
			<integer>653</integer>
			<integer>662</integer>
			<integer>674</integer>
			<integer>727</integer>
			<integer>739</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>486</integer>
			<integer>498</integer>
			<integer>518</integer>
			<integer>530</integer>
			<integer>574</integer>
			<integer>586</integer>
			<integer>638</integer>
			<integer>650</integer>
			<integer>656</integer>
			<integer>668</integer>
			<integer>712</integer>
			<integer>724</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-217</integer>
			<integer>-205</integer>
		</array>
		<key>postscriptFontName</key>
		<string>Dummy-ExtraMinus</string>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-243</integer>
			<integer>-231</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>7</integer>
			<integer>19</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>4</integer>
			<integer>22</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-100</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleName</key>
		<string>Extra Minus</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>500</integer>
	</dict>
</plist>
