<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.LAT_A_LC_LEFT</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern1.LAT_C_LC_LEFT</key>
		<array>
			<string>c</string>
		</array>
		<key>public.kern1.LAT_D_LC_LEFT</key>
		<array>
			<string>d</string>
		</array>
		<key>public.kern1.LAT_E_LC_LEFT</key>
		<array>
			<string>e</string>
		</array>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_G_LC_LEFT</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern1.LAT_I_LC_LEFT</key>
		<array>
			<string>i</string>
		</array>
		<key>public.kern1.LAT_J_LC_LEFT</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern1.LAT_K_LC_LEFT</key>
		<array>
			<string>k</string>
		</array>
		<key>public.kern1.LAT_L_LC_LEFT</key>
		<array>
			<string>l</string>
		</array>
		<key>public.kern1.LAT_N_LC_LEFT</key>
		<array>
			<string>n</string>
			<string>h</string>
			<string>m</string>
		</array>
		<key>public.kern1.LAT_O_LC_LEFT</key>
		<array>
			<string>o</string>
			<string>b</string>
			<string>p</string>
		</array>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<array>
			<string>r</string>
		</array>
		<key>public.kern1.LAT_S_LC_LEFT</key>
		<array>
			<string>s</string>
		</array>
		<key>public.kern1.LAT_T_LC_LEFT</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern1.LAT_U_LC_LEFT</key>
		<array>
			<string>u</string>
			<string>q</string>
		</array>
		<key>public.kern1.LAT_V_LC_LEFT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern1.LAT_W_LC_LEFT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern1.LAT_X_LC_LEFT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern1.LAT_Y_LC_LEFT</key>
		<array>
			<string>y</string>
		</array>
		<key>public.kern1.LAT_Z_LC_LEFT</key>
		<array>
			<string>z</string>
		</array>
		<key>public.kern2.LAT_A_LC_RIGHT</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern2.LAT_F_LC_RIGHT</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern2.LAT_G_LC_RIGHT</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern2.LAT_I_LC_RIGHT</key>
		<array>
			<string>i</string>
		</array>
		<key>public.kern2.LAT_J_LC_RIGHT</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern2.LAT_L_LC_RIGHT</key>
		<array>
			<string>l</string>
			<string>b</string>
			<string>h</string>
			<string>k</string>
		</array>
		<key>public.kern2.LAT_N_LC_RIGHT</key>
		<array>
			<string>n</string>
			<string>m</string>
			<string>p</string>
			<string>r</string>
		</array>
		<key>public.kern2.LAT_O_LC_RIGHT</key>
		<array>
			<string>o</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>q</string>
		</array>
		<key>public.kern2.LAT_S_LC_RIGHT</key>
		<array>
			<string>s</string>
		</array>
		<key>public.kern2.LAT_T_LC_RIGHT</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern2.LAT_U_LC_RIGHT</key>
		<array>
			<string>u</string>
		</array>
		<key>public.kern2.LAT_V_LC_RIGHT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern2.LAT_W_LC_RIGHT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_X_LC_RIGHT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.LAT_Y_LC_RIGHT</key>
		<array>
			<string>y</string>
		</array>
		<key>public.kern2.LAT_Z_LC_RIGHT</key>
		<array>
			<string>z</string>
		</array>
	</dict>
</plist>
