<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>postscriptFontName</key>
	<string>SourceHanSansVF-Heavy</string>
	<key>styleName</key>
	<string>Heavy</string>
	<key>familyName</key>
	<string>Source Han Sans</string>
	<key>trademark</key>
	<string>Copyright 2014-2020 Adobe (http://www.adobe.com/), with Reserved Font Name 'Source'. Source is a trademark of Adobe in the United States and/or other countries.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>postscriptFullName</key>
	<string>Source Han Sans Heavy</string>
	<key>postscriptWeightName</key>
	<string>Heavy</string>
	<key>postscriptUnderlinePosition</key>
	<integer>-150</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
</dict>
</plist>
