<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cid00000</key>
    <string>cid00000.glif</string>
    <key>cid45107</key>
    <string>cid45107.glif</string>
  </dict>
</plist>
