<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>familyName</key>
		<string>NameRecordsTest</string>
		<key>openTypeNameRecords</key>
		<array>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>0</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Copyright (c) 2014 by Designer. All rights reserved.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>0</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Copyright (c) 2014 by Designer. All rights reserved.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>1</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>1</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>2</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Regular</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>2</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Regular</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>3</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Designer: NameRecordsTest: 2014</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>3</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Designer: NameRecordsTest: 2014</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>4</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>4</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>5</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Version 1.000</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>5</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Version 1.000</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>6</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>6</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>NameRecordsTest</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>7</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>NameRecordsTest is a trademark of Designer.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>7</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>NameRecordsTest is a trademark of Designer.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>8</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>8</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>9</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>9</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>10</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>Copyright (c) 2014 by Designer. All rights reserved.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>10</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Copyright (c) 2014 by Designer. All rights reserved.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>11</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>http://www.example.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>11</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>http://www.example.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>12</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>http://www.example.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>12</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>http://www.example.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>0</integer>
				<key>languageID</key>
				<integer>0</integer>
				<key>nameID</key>
				<integer>13</integer>
				<key>platformID</key>
				<integer>1</integer>
				<key>string</key>
				<string>license text</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>13</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>license text</string>
			</dict>
		</array>
		<key>postscriptFontName</key>
		<string>NameRecordsTest</string>
	</dict>
</plist>
