<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>chicken</key>
    <string>chicken.glif</string>
    <key>donkey</key>
    <string>donkey.glif</string>
    <key>monkey</key>
    <string>monkey.glif</string>
    <key>uni3041-V</key>
    <string>uni3041-V_.glif</string>
    <key>uni3042-V</key>
    <string>uni3042-V_.glif</string>
    <key>uni3042uni3099-V</key>
    <string>uni3042uni3099-V_.glif</string>
    <key>uni3043-V</key>
    <string>uni3043-V_.glif</string>
    <key>uni3044-V</key>
    <string>uni3044-V_.glif</string>
    <key>uni3044uni3099-V</key>
    <string>uni3044uni3099-V_.glif</string>
    <key>uni3045-V</key>
    <string>uni3045-V_.glif</string>
    <key>uni3046-V</key>
    <string>uni3046-V_.glif</string>
    <key>uni3047-V</key>
    <string>uni3047-V_.glif</string>
    <key>uni3048-V</key>
    <string>uni3048-V_.glif</string>
    <key>uni3048uni3099-V</key>
    <string>uni3048uni3099-V_.glif</string>
    <key>uni3049-V</key>
    <string>uni3049-V_.glif</string>
    <key>uni304A-V</key>
    <string>uni304A_-V_.glif</string>
    <key>uni304Auni3099-V</key>
    <string>uni304A_uni3099-V_.glif</string>
    <key>uni304B-V</key>
    <string>uni304B_-V_.glif</string>
    <key>uni304Buni309A-V</key>
    <string>uni304B_uni309A_-V_.glif</string>
    <key>uni304C-V</key>
    <string>uni304C_-V_.glif</string>
    <key>uni304D-V</key>
    <string>uni304D_-V_.glif</string>
    <key>uni304Duni309A-V</key>
    <string>uni304D_uni309A_-V_.glif</string>
    <key>uni304E-V</key>
    <string>uni304E_-V_.glif</string>
    <key>uni304F-V</key>
    <string>uni304F_-V_.glif</string>
    <key>uni304Funi309A-V</key>
    <string>uni304F_uni309A_-V_.glif</string>
    <key>uni3050-V</key>
    <string>uni3050-V_.glif</string>
    <key>uni3051-V</key>
    <string>uni3051-V_.glif</string>
    <key>uni3051uni309A-V</key>
    <string>uni3051uni309A_-V_.glif</string>
    <key>uni3052-V</key>
    <string>uni3052-V_.glif</string>
    <key>uni3053-V</key>
    <string>uni3053-V_.glif</string>
    <key>uni3053uni309A-V</key>
    <string>uni3053uni309A_-V_.glif</string>
    <key>uni3054-V</key>
    <string>uni3054-V_.glif</string>
    <key>uni3055-V</key>
    <string>uni3055-V_.glif</string>
    <key>uni3056-V</key>
    <string>uni3056-V_.glif</string>
    <key>uni3057-V</key>
    <string>uni3057-V_.glif</string>
    <key>uni3058-V</key>
    <string>uni3058-V_.glif</string>
    <key>uni3059-V</key>
    <string>uni3059-V_.glif</string>
    <key>uni305A-V</key>
    <string>uni305A_-V_.glif</string>
    <key>uni305B-V</key>
    <string>uni305B_-V_.glif</string>
    <key>uni305C-V</key>
    <string>uni305C_-V_.glif</string>
    <key>uni305D-V</key>
    <string>uni305D_-V_.glif</string>
    <key>uni305E-V</key>
    <string>uni305E_-V_.glif</string>
    <key>uni305F-V</key>
    <string>uni305F_-V_.glif</string>
    <key>uni3060-V</key>
    <string>uni3060-V_.glif</string>
    <key>uni3061-V</key>
    <string>uni3061-V_.glif</string>
    <key>uni3062-V</key>
    <string>uni3062-V_.glif</string>
    <key>uni3063-V</key>
    <string>uni3063-V_.glif</string>
    <key>uni3064-V</key>
    <string>uni3064-V_.glif</string>
    <key>uni3065-V</key>
    <string>uni3065-V_.glif</string>
    <key>uni3066-V</key>
    <string>uni3066-V_.glif</string>
    <key>uni3067-V</key>
    <string>uni3067-V_.glif</string>
    <key>uni3068-V</key>
    <string>uni3068-V_.glif</string>
    <key>uni3069-V</key>
    <string>uni3069-V_.glif</string>
    <key>uni306A-V</key>
    <string>uni306A_-V_.glif</string>
    <key>uni306B-V</key>
    <string>uni306B_-V_.glif</string>
    <key>uni306C-V</key>
    <string>uni306C_-V_.glif</string>
    <key>uni306D-V</key>
    <string>uni306D_-V_.glif</string>
    <key>uni306E-V</key>
    <string>uni306E_-V_.glif</string>
    <key>uni306F-V</key>
    <string>uni306F_-V_.glif</string>
    <key>uni3070-V</key>
    <string>uni3070-V_.glif</string>
    <key>uni3071-V</key>
    <string>uni3071-V_.glif</string>
    <key>uni3072-V</key>
    <string>uni3072-V_.glif</string>
    <key>uni3073-V</key>
    <string>uni3073-V_.glif</string>
    <key>uni3074-V</key>
    <string>uni3074-V_.glif</string>
    <key>uni3075-V</key>
    <string>uni3075-V_.glif</string>
    <key>uni3076-V</key>
    <string>uni3076-V_.glif</string>
    <key>uni3077-V</key>
    <string>uni3077-V_.glif</string>
    <key>uni3078-V</key>
    <string>uni3078-V_.glif</string>
    <key>uni3079-V</key>
    <string>uni3079-V_.glif</string>
    <key>uni307A-V</key>
    <string>uni307A_-V_.glif</string>
    <key>uni307B-V</key>
    <string>uni307B_-V_.glif</string>
    <key>uni307C-V</key>
    <string>uni307C_-V_.glif</string>
    <key>uni307D-V</key>
    <string>uni307D_-V_.glif</string>
    <key>uni307E-V</key>
    <string>uni307E_-V_.glif</string>
    <key>uni307F-V</key>
    <string>uni307F_-V_.glif</string>
    <key>uni3080-V</key>
    <string>uni3080-V_.glif</string>
    <key>uni3081-V</key>
    <string>uni3081-V_.glif</string>
    <key>uni3082-V</key>
    <string>uni3082-V_.glif</string>
    <key>uni3083-V</key>
    <string>uni3083-V_.glif</string>
    <key>uni3084-V</key>
    <string>uni3084-V_.glif</string>
    <key>uni3085-V</key>
    <string>uni3085-V_.glif</string>
    <key>uni3086-V</key>
    <string>uni3086-V_.glif</string>
    <key>uni3087-V</key>
    <string>uni3087-V_.glif</string>
    <key>uni3088-V</key>
    <string>uni3088-V_.glif</string>
    <key>uni3089-V</key>
    <string>uni3089-V_.glif</string>
    <key>uni308A-V</key>
    <string>uni308A_-V_.glif</string>
    <key>uni308B-V</key>
    <string>uni308B_-V_.glif</string>
    <key>uni308C-V</key>
    <string>uni308C_-V_.glif</string>
    <key>uni308D-V</key>
    <string>uni308D_-V_.glif</string>
    <key>uni308E-V</key>
    <string>uni308E_-V_.glif</string>
    <key>uni308F-V</key>
    <string>uni308F_-V_.glif</string>
    <key>uni3090-V</key>
    <string>uni3090-V_.glif</string>
    <key>uni3091-V</key>
    <string>uni3091-V_.glif</string>
    <key>uni3092-V</key>
    <string>uni3092-V_.glif</string>
    <key>uni3093-V</key>
    <string>uni3093-V_.glif</string>
    <key>uni3093uni3099-V</key>
    <string>uni3093uni3099-V_.glif</string>
    <key>uni3094-V</key>
    <string>uni3094-V_.glif</string>
    <key>uni3095-V</key>
    <string>uni3095-V_.glif</string>
    <key>uni3096-V</key>
    <string>uni3096-V_.glif</string>
    <key>uni309D-V</key>
    <string>uni309D_-V_.glif</string>
    <key>uni309E-V</key>
    <string>uni309E_-V_.glif</string>
    <key>uni309F-V</key>
    <string>uni309F_-V_.glif</string>
    <key>uni30A1-V</key>
    <string>uni30A_1-V_.glif</string>
    <key>uni30A2-V</key>
    <string>uni30A_2-V_.glif</string>
    <key>uni30A2uni3099-V</key>
    <string>uni30A_2uni3099-V_.glif</string>
    <key>uni30A3-V</key>
    <string>uni30A_3-V_.glif</string>
    <key>uni30A4-V</key>
    <string>uni30A_4-V_.glif</string>
    <key>uni30A4uni3099-V</key>
    <string>uni30A_4uni3099-V_.glif</string>
    <key>uni30A5-V</key>
    <string>uni30A_5-V_.glif</string>
    <key>uni30A6-V</key>
    <string>uni30A_6-V_.glif</string>
    <key>uni30A7-V</key>
    <string>uni30A_7-V_.glif</string>
    <key>uni30A8-V</key>
    <string>uni30A_8-V_.glif</string>
    <key>uni30A8uni3099-V</key>
    <string>uni30A_8uni3099-V_.glif</string>
    <key>uni30A9-V</key>
    <string>uni30A_9-V_.glif</string>
    <key>uni30AA-V</key>
    <string>uni30A_A_-V_.glif</string>
    <key>uni30AAuni3099-V</key>
    <string>uni30A_A_uni3099-V_.glif</string>
    <key>uni30AB-V</key>
    <string>uni30A_B_-V_.glif</string>
    <key>uni30ABuni309A-V</key>
    <string>uni30A_B_uni309A_-V_.glif</string>
    <key>uni30AC-V</key>
    <string>uni30A_C_-V_.glif</string>
    <key>uni30AD-V</key>
    <string>uni30A_D_-V_.glif</string>
    <key>uni30ADuni309A-V</key>
    <string>uni30A_D_uni309A_-V_.glif</string>
    <key>uni30AE-V</key>
    <string>uni30A_E_-V_.glif</string>
    <key>uni30AF-V</key>
    <string>uni30A_F_-V_.glif</string>
    <key>uni30AFuni309A-V</key>
    <string>uni30A_F_uni309A_-V_.glif</string>
    <key>uni30B0-V</key>
    <string>uni30B_0-V_.glif</string>
    <key>uni30B1-V</key>
    <string>uni30B_1-V_.glif</string>
    <key>uni30B1uni309A-V</key>
    <string>uni30B_1uni309A_-V_.glif</string>
    <key>uni30B2-V</key>
    <string>uni30B_2-V_.glif</string>
    <key>uni30B3-V</key>
    <string>uni30B_3-V_.glif</string>
    <key>uni30B3uni309A-V</key>
    <string>uni30B_3uni309A_-V_.glif</string>
    <key>uni30B4-V</key>
    <string>uni30B_4-V_.glif</string>
    <key>uni30B5-V</key>
    <string>uni30B_5-V_.glif</string>
    <key>uni30B6-V</key>
    <string>uni30B_6-V_.glif</string>
    <key>uni30B7-V</key>
    <string>uni30B_7-V_.glif</string>
    <key>uni30B8-V</key>
    <string>uni30B_8-V_.glif</string>
    <key>uni30B9-V</key>
    <string>uni30B_9-V_.glif</string>
    <key>uni30BA-V</key>
    <string>uni30B_A_-V_.glif</string>
    <key>uni30BB-V</key>
    <string>uni30B_B_-V_.glif</string>
    <key>uni30BBuni309A-V</key>
    <string>uni30B_B_uni309A_-V_.glif</string>
    <key>uni30BC-V</key>
    <string>uni30B_C_-V_.glif</string>
    <key>uni30BD-V</key>
    <string>uni30B_D_-V_.glif</string>
    <key>uni30BE-V</key>
    <string>uni30B_E_-V_.glif</string>
    <key>uni30BF-V</key>
    <string>uni30B_F_-V_.glif</string>
    <key>uni30C0-V</key>
    <string>uni30C_0-V_.glif</string>
    <key>uni30C1-V</key>
    <string>uni30C_1-V_.glif</string>
    <key>uni30C2-V</key>
    <string>uni30C_2-V_.glif</string>
    <key>uni30C3-V</key>
    <string>uni30C_3-V_.glif</string>
    <key>uni30C4-V</key>
    <string>uni30C_4-V_.glif</string>
    <key>uni30C4uni309A-V</key>
    <string>uni30C_4uni309A_-V_.glif</string>
    <key>uni30C5-V</key>
    <string>uni30C_5-V_.glif</string>
    <key>uni30C6-V</key>
    <string>uni30C_6-V_.glif</string>
    <key>uni30C7-V</key>
    <string>uni30C_7-V_.glif</string>
    <key>uni30C8-V</key>
    <string>uni30C_8-V_.glif</string>
    <key>uni30C8uni309A-V</key>
    <string>uni30C_8uni309A_-V_.glif</string>
    <key>uni30C9-V</key>
    <string>uni30C_9-V_.glif</string>
    <key>uni30CA-V</key>
    <string>uni30C_A_-V_.glif</string>
    <key>uni30CB-V</key>
    <string>uni30C_B_-V_.glif</string>
    <key>uni30CC-V</key>
    <string>uni30C_C_-V_.glif</string>
    <key>uni30CD-V</key>
    <string>uni30C_D_-V_.glif</string>
    <key>uni30CE-V</key>
    <string>uni30C_E_-V_.glif</string>
    <key>uni30CF-V</key>
    <string>uni30C_F_-V_.glif</string>
    <key>uni30D0-V</key>
    <string>uni30D_0-V_.glif</string>
    <key>uni30D1-V</key>
    <string>uni30D_1-V_.glif</string>
    <key>uni30D2-V</key>
    <string>uni30D_2-V_.glif</string>
    <key>uni30D3-V</key>
    <string>uni30D_3-V_.glif</string>
    <key>uni30D4-V</key>
    <string>uni30D_4-V_.glif</string>
    <key>uni30D5-V</key>
    <string>uni30D_5-V_.glif</string>
    <key>uni30D6-V</key>
    <string>uni30D_6-V_.glif</string>
    <key>uni30D7-V</key>
    <string>uni30D_7-V_.glif</string>
    <key>uni30D8-V</key>
    <string>uni30D_8-V_.glif</string>
    <key>uni30D9-V</key>
    <string>uni30D_9-V_.glif</string>
    <key>uni30DA-V</key>
    <string>uni30D_A_-V_.glif</string>
    <key>uni30DB-V</key>
    <string>uni30D_B_-V_.glif</string>
    <key>uni30DC-V</key>
    <string>uni30D_C_-V_.glif</string>
    <key>uni30DD-V</key>
    <string>uni30D_D_-V_.glif</string>
    <key>uni30DE-V</key>
    <string>uni30D_E_-V_.glif</string>
    <key>uni30DF-V</key>
    <string>uni30D_F_-V_.glif</string>
    <key>uni30E0-V</key>
    <string>uni30E_0-V_.glif</string>
    <key>uni30E1-V</key>
    <string>uni30E_1-V_.glif</string>
    <key>uni30E2-V</key>
    <string>uni30E_2-V_.glif</string>
    <key>uni30E3-V</key>
    <string>uni30E_3-V_.glif</string>
    <key>uni30E4-V</key>
    <string>uni30E_4-V_.glif</string>
    <key>uni30E5-V</key>
    <string>uni30E_5-V_.glif</string>
    <key>uni30E6-V</key>
    <string>uni30E_6-V_.glif</string>
    <key>uni30E7-V</key>
    <string>uni30E_7-V_.glif</string>
    <key>uni30E8-V</key>
    <string>uni30E_8-V_.glif</string>
    <key>uni30E9-V</key>
    <string>uni30E_9-V_.glif</string>
    <key>uni30EA-V</key>
    <string>uni30E_A_-V_.glif</string>
    <key>uni30EB-V</key>
    <string>uni30E_B_-V_.glif</string>
    <key>uni30EC-V</key>
    <string>uni30E_C_-V_.glif</string>
    <key>uni30ED-V</key>
    <string>uni30E_D_-V_.glif</string>
    <key>uni30EE-V</key>
    <string>uni30E_E_-V_.glif</string>
    <key>uni30EF-V</key>
    <string>uni30E_F_-V_.glif</string>
    <key>uni30F0-V</key>
    <string>uni30F_0-V_.glif</string>
    <key>uni30F1-V</key>
    <string>uni30F_1-V_.glif</string>
    <key>uni30F2-V</key>
    <string>uni30F_2-V_.glif</string>
    <key>uni30F3-V</key>
    <string>uni30F_3-V_.glif</string>
    <key>uni30F3uni3099-V</key>
    <string>uni30F_3uni3099-V_.glif</string>
    <key>uni30F4-V</key>
    <string>uni30F_4-V_.glif</string>
    <key>uni30F5-V</key>
    <string>uni30F_5-V_.glif</string>
    <key>uni30F6-V</key>
    <string>uni30F_6-V_.glif</string>
    <key>uni30F7-V</key>
    <string>uni30F_7-V_.glif</string>
    <key>uni30F8-V</key>
    <string>uni30F_8-V_.glif</string>
    <key>uni30F9-V</key>
    <string>uni30F_9-V_.glif</string>
    <key>uni30FA-V</key>
    <string>uni30F_A_-V_.glif</string>
    <key>uni30FC-V</key>
    <string>uni30F_C_-V_.glif</string>
    <key>uni30FD-V</key>
    <string>uni30F_D_-V_.glif</string>
    <key>uni30FE-V</key>
    <string>uni30F_E_-V_.glif</string>
    <key>uni31F0-V</key>
    <string>uni31F_0-V_.glif</string>
    <key>uni31F1-V</key>
    <string>uni31F_1-V_.glif</string>
    <key>uni31F2-V</key>
    <string>uni31F_2-V_.glif</string>
    <key>uni31F3-V</key>
    <string>uni31F_3-V_.glif</string>
    <key>uni31F4-V</key>
    <string>uni31F_4-V_.glif</string>
    <key>uni31F5-V</key>
    <string>uni31F_5-V_.glif</string>
    <key>uni31F6-V</key>
    <string>uni31F_6-V_.glif</string>
    <key>uni31F7-V</key>
    <string>uni31F_7-V_.glif</string>
    <key>uni31F7uni309A-V</key>
    <string>uni31F_7uni309A_-V_.glif</string>
    <key>uni31F8-V</key>
    <string>uni31F_8-V_.glif</string>
    <key>uni31F9-V</key>
    <string>uni31F_9-V_.glif</string>
    <key>uni31FA-V</key>
    <string>uni31F_A_-V_.glif</string>
    <key>uni31FB-V</key>
    <string>uni31F_B_-V_.glif</string>
    <key>uni31FC-V</key>
    <string>uni31F_C_-V_.glif</string>
    <key>uni31FD-V</key>
    <string>uni31F_D_-V_.glif</string>
    <key>uni31FE-V</key>
    <string>uni31F_E_-V_.glif</string>
    <key>uni31FF-V</key>
    <string>uni31F_F_-V_.glif</string>
  </dict>
</plist>
