<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.LAT_A_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_C_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-16</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>10</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>10</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>18</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.LAT_E_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-16</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>14</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>14</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>14</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>6</integer>
		</dict>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-16</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>20</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_G_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-14</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>30</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>24</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_K_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_L_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>6</integer>
		</dict>
		<key>public.kern1.LAT_O_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-16</integer>
			<key>public.kern2.LAT_F_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>40</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>30</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>40</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_S_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LAT_T_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-22</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LAT_U_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_V_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LAT_W_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_X_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.LAT_Y_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LAT_Z_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_N_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U_LC_RIGHT</key>
			<integer>-10</integer>
		</dict>
	</dict>
</plist>
