<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>ROS</string>
			<key>value</key>
			<string>Adobe-Identity-0</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>35522A3C-5E94-45E3-B867-5E9BC318AE16</key>
			<dict>
				<key>HH</key>
				<string>円136</string>
				<key>HV</key>
				<string>円150</string>
				<key>han1</key>
				<string>130</string>
				<key>han4</key>
				<string>137</string>
				<key>han6</key>
				<string>130</string>
				<key>han7</key>
				<string>150</string>
			</dict>
			<key>3FD6C549-99AC-4B91-A5AD-830A2CC0F1B5</key>
			<dict>
				<key>HH</key>
				<string>35</string>
				<key>HV</key>
				<string>35</string>
				<key>OV</key>
				<string>36</string>
			</dict>
			<key>66E9E72B-4683-4D0A-A763-700D397265CD</key>
			<dict/>
			<key>F6098929-F568-44CB-A0FB-F8A023451D4E</key>
			<dict>
				<key>HH</key>
				<string>円141</string>
				<key>HV</key>
				<string>円150</string>
			</dict>
		</dict>
		<key>GSDontShowVersionAlert</key>
		<integer>1</integer>
	</dict>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>CJK Guide</string>
			<key>value</key>
			<string>90.8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Default Layer Width</string>
			<key>value</key>
			<string>1130</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Filter</string>
			<key>value</key>
			<string>OffsetCurve;8;8;0;1;include:asmall-hira,ismall-hira,usmall-hira,esmall-hira,osmall-hira,tusmall-hira,yasmall-hira,yusmall-hira,yosmall-hira,wasmall-hira,asmall-kata,ismall-kata,usmall-kata,esmall-kata,osmall-kata,kasmall-kata,kesmall-kata,tusmall-kata,yasmall-kata,yusmall-kata,yosmall-kata,wasmall-kata,asmall-hira.vert,ismall-hira.vert,usmall-hira.vert,esmall-hira.vert,osmall-hira.vert,tusmall-hira.vert,yasmall-hira.vert,yusmall-hira.vert,yosmall-hira.vert,wasmall-hira.vert,asmall-kata.vert,ismall-kata.vert,usmall-kata,esmall-kata.vert,osmall-kata.vert,kasmall-kata.vert,kesmall-kata.vert,tusmall-kata.vert,yasmall-kata.vert,yusmall-kata.vert,yosmall-kata.vert,wasmall-kata.vert</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>35522A3C-5E94-45E3-B867-5E9BC318AE16</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
	</array>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.master.name</key>
	<string>🔶🔶YokoB🔶🔶</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>1000</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>0</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>_cap.kaze.001</string>
	</array>
</dict>
</plist>
