<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.adobe.type.CIDFontName</key>
    <string>SourceHanSerif-ExtraLight</string>
	<key>com.adobe.type.ROS</key>
	<string>Adobe-Identity-0</string>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4686753360</string>
    <key>public.glyphOrder</key>
    <array>
      <string>cid00000</string>
      <string>cid45107</string>
    </array>
    <key>com.adobe.type.postscriptCIDMap</key>
    <dict>
      <key>cid00000</key>
      <integer>0</integer>
      <key>cid45107</key>
    </dict>
  <key>postscriptFDArray</key>
    <array>
    <dict>
    <key></key>
    <string>SourceHanSans-Heavy-Generic</string>
    <key>PaintType</key>
    <integer>3</integer>
    <key>PrivateDict</key>
    <dict>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-250</integer>
      <integer>-250</integer>
      <integer>1100</integer>
      <integer>1100</integer>
    </array>
    </dict>
    </dict>
    <dict>
    <key>FontName</key>
    <string>SourceHanSans-Heavy-Ideographs</string>
    <key>PaintType</key>
    <integer>0</integer>
    <key>FontMatrix</key>
    <array>
      <real>0.001</real>
      <integer>0</integer>
      <integer>0</integer>
      <real>0.001</real>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>PrivateDict</key>
    <dict>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-250</integer>
      <integer>-250</integer>
      <integer>1100</integer>
      <integer>1100</integer>
    </array>
    <key>postscriptStdHW</key>
    <array>
      <integer>35</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>28</integer>
      <integer>46</integer>
    </array>
    <key>postscriptStdVW</key>
    <array>
      <integer>28</integer>
    </array>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>LanguageGroup</key>
    <integer>1</integer>
    <key>ExpansionFactor</key>
    <real>0.06</real>
    </dict>
    </dict>
    </array>
    </dict>
</plist>
