<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.adobe.type.CIDFontName</key>
    <string>SourceHanSerif-ExtraLight</string>
    <key>com.adobe.type.Ordering</key>
    <string>Identity</string>
    <key>com.adobe.type.Registry</key>
    <string>Adobe</string>
    <key>com.adobe.type.Supplement</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4686753360</string>
    <key>public.glyphOrder</key>
    <array>
      <string>cid00000</string>
      <string>cid45107</string>
    </array>
    <key>com.adobe.type.postscriptCIDMap</key>
    <dict>
      <key>cid00000</key>
      <integer>0</integer>
      <key>cid45107</key>
    </dict>
  </dict>
</plist>
