<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>c1177</key>
		<string>c1177.glif</string>
		<key>c13393</key>
		<string>c13393.glif</string>
		<key>c13498</key>
		<string>c13498.glif</string>
		<key>c13887</key>
		<string>c13887.glif</string>
		<key>c14066</key>
		<string>c14066.glif</string>
		<key>c14872</key>
		<string>c14872.glif</string>
		<key>c14879</key>
		<string>c14879.glif</string>
		<key>c15147</key>
		<string>c15147.glif</string>
		<key>c15202</key>
		<string>c15202.glif</string>
		<key>c15324</key>
		<string>c15324.glif</string>
		<key>c16877</key>
		<string>c16877.glif</string>
		<key>c16976</key>
		<string>c16976.glif</string>
		<key>c17290</key>
		<string>c17290.glif</string>
		<key>c17700</key>
		<string>c17700.glif</string>
		<key>c17751</key>
		<string>c17751.glif</string>
		<key>c17852</key>
		<string>c17852.glif</string>
		<key>c17986</key>
		<string>c17986.glif</string>
		<key>c18165</key>
		<string>c18165.glif</string>
		<key>c18480</key>
		<string>c18480.glif</string>
		<key>c18868</key>
		<string>c18868.glif</string>
		<key>c19523</key>
		<string>c19523.glif</string>
		<key>c19753</key>
		<string>c19753.glif</string>
		<key>c1984</key>
		<string>c1984.glif</string>
		<key>c2057</key>
		<string>c2057.glif</string>
		<key>c21305</key>
		<string>c21305.glif</string>
		<key>c21932</key>
		<string>c21932.glif</string>
		<key>c22029</key>
		<string>c22029.glif</string>
		<key>c22050</key>
		<string>c22050.glif</string>
		<key>c22369</key>
		<string>c22369.glif</string>
		<key>c22370</key>
		<string>c22370.glif</string>
		<key>c22379</key>
		<string>c22379.glif</string>
		<key>c22395</key>
		<string>c22395.glif</string>
		<key>c22450</key>
		<string>c22450.glif</string>
		<key>c2267</key>
		<string>c2267.glif</string>
		<key>c2645</key>
		<string>c2645.glif</string>
		<key>c2663</key>
		<string>c2663.glif</string>
		<key>c3452</key>
		<string>c3452.glif</string>
		<key>c3555</key>
		<string>c3555.glif</string>
		<key>c3758</key>
		<string>c3758.glif</string>
		<key>c4866</key>
		<string>c4866.glif</string>
		<key>c5640</key>
		<string>c5640.glif</string>
		<key>c6260</key>
		<string>c6260.glif</string>
		<key>c6378</key>
		<string>c6378.glif</string>
		<key>c6385</key>
		<string>c6385.glif</string>
		<key>c6440</key>
		<string>c6440.glif</string>
		<key>c6447</key>
		<string>c6447.glif</string>
		<key>c6449</key>
		<string>c6449.glif</string>
		<key>c6550</key>
		<string>c6550.glif</string>
		<key>c6821</key>
		<string>c6821.glif</string>
		<key>c7225</key>
		<string>c7225.glif</string>
		<key>c7253</key>
		<string>c7253.glif</string>
		<key>c7701</key>
		<string>c7701.glif</string>
		<key>c7716</key>
		<string>c7716.glif</string>
		<key>c7734</key>
		<string>c7734.glif</string>
		<key>c8611</key>
		<string>c8611.glif</string>
	</dict>
</plist>
