<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>cid00000</string>
		<string>cid00001</string>
		<string>cid01125</string>
		<string>cid01143</string>
	</array>
	<key>com.adobe.type.FSType</key>
	<integer>0</integer>
	<key>com.adobe.type.postscriptFDArray</key>
	<array>
	<dict>
	<key>FontName</key>
	<string>(null)</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>40</integer>
		<integer>120</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>40</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>40</integer>
		<integer>120</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>40</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>LanguageGroup</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	<dict>
	<key>FontName</key>
	<string>(null)</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>1100</integer>
		<integer>1100</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>58</integer>
		<integer>65</integer>
		<integer>84</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>58</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>63</integer>
		<integer>73</integer>
		<integer>89</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>63</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>LanguageGroup</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	<dict>
	<key>FontName</key>
	<string>(null)</string>
	<key>PaintType</key>
	<integer>0</integer>
	<key>FontMatrix</key>
	<array>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.001</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PrivateDict</key>
	<dict>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-13</integer>
		<integer>0</integer>
		<integer>543</integer>
		<integer>557</integer>
		<integer>733</integer>
		<integer>747</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-250</integer>
		<integer>-229</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>69</integer>
		<integer>79</integer>
		<integer>88</integer>
	</array>
	<key>postscriptStdHW</key>
	<array>
		<integer>69</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>85</integer>
		<integer>95</integer>
		<integer>111</integer>
	</array>
	<key>postscriptStdVW</key>
	<array>
		<integer>85</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>ExpansionFactor</key>
	<real>0.06</real>
	</dict>
	</dict>
	</array>
	<key>com.adobe.type.postscriptCIDMap</key>
	<dict>
	<key>cid00000</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>0</integer>
	<key>com.adobe.type.iFD</key>
	<integer>0</integer>
	</dict>
	<key>cid00001</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>1</integer>
	<key>com.adobe.type.iFD</key>
	<integer>2</integer>
	</dict>
	<key>cid01125</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>1125</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	<key>cid01143</key>
	<dict>
	<key>com.adobe.type.cid</key>
	<integer>1143</integer>
	<key>com.adobe.type.iFD</key>
	<integer>1</integer>
	</dict>
	</dict>
</dict>
</plist>
