<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cid00000</key>
	<string>cid00000.glif</string>
	<key>cid00001</key>
	<string>cid00001.glif</string>
	<key>cid01125</key>
	<string>cid01125.glif</string>
	<key>cid01143</key>
	<string>cid01143.glif</string>
</dict>
</plist>
