<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>718</integer>
    <key>capHeight</key>
    <integer>661</integer>
    <key>descender</key>
    <integer>-235</integer>
    <key>familyName</key>
    <string>Flipped Glyph</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.075</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>479</integer>
      <integer>489</integer>
      <integer>515</integer>
      <integer>525</integer>
      <integer>563</integer>
      <integer>573</integer>
      <integer>638</integer>
      <integer>648</integer>
      <integer>661</integer>
      <integer>671</integer>
      <integer>718</integer>
      <integer>728</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>486</integer>
      <integer>496</integer>
      <integer>520</integer>
      <integer>530</integer>
      <integer>567</integer>
      <integer>577</integer>
      <integer>637</integer>
      <integer>647</integer>
      <integer>661</integer>
      <integer>671</integer>
      <integer>717</integer>
      <integer>727</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-226</integer>
    </array>
    <key>postscriptFontName</key>
    <string>FlippedGlyph</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-243</integer>
      <integer>-233</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>43</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>47</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Light</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>6</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>479</integer>
  </dict>
</plist>
