name: C and Python coverage

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [master, develop]
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for running workflow'
        required: true

jobs:
  coverage:
    runs-on: 'ubuntu-latest'

    steps:
    - name: Log reason (manual run only)
      if: github.event_name == 'workflow_dispatch'
      run: |
        echo "Reason for triggering: ${{ github.event.inputs.reason }}"

    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Build and install AFDKO wheel
      env:
        XFLAGS: '--coverage'
      run: |
        python -m pip install --upgrade pip
        pip install wheel setuptools_scm cibuildwheel scikit-build cmake ninja
        python setup.py bdist_wheel
        echo 'Installing AFDKO wheel...'
        pip install dist/*.whl -q
        
    - name: Generate and upload Python and C coverage
      run: |
        pip install pytest pytest-cov
        python -m pytest --cov --cov-report=xml
        bash <(curl -s https://codecov.io/bash) -y .codecov.yml
