name: C and Python coverage

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'

  pull_request:
    branches: [develop]
    paths-ignore:
      - 'docs/**'
      - '**.md'

  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for running workflow'
        required: true

jobs:
  coverage:
    runs-on: 'ubuntu-latest'

    steps:

    - name: Log reason (manual run only)
      if: github.event_name == 'workflow_dispatch'
      run: |
        echo "Reason for triggering: ${{ github.event.inputs.reason }}"
    - name: Check out
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # unshallow fetch for setuptools-scm

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"

    - name: Build AFDKO wheel
      env:
        CFLAGS: '--coverage -I/usr/include/libxml2'
      run: |
        python -m pip install --upgrade pip
        python -m pip install build>=0.7.0
        python -m build --wheel
    - name: Install AFDKO wheel
      run: |
        python -m pip install dist/*.whl -q
    - name: Generate Python and C coverage
      run: |
        python -m pip install pytest-cov -q
        python -m pytest tests --cov --cov-report=xml --color=yes
    - name: Upload coverage results
      run: |
        bash <(curl -s https://codecov.io/bash) -y .codecov.yml
