<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>750</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Dummy</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0625</real>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>511</integer>
			<integer>523</integer>
			<integer>543</integer>
			<integer>555</integer>
			<integer>585</integer>
			<integer>597</integer>
			<integer>631</integer>
			<integer>643</integer>
			<integer>645</integer>
			<integer>657</integer>
			<integer>683</integer>
			<integer>695</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>486</integer>
			<integer>498</integer>
			<integer>518</integer>
			<integer>530</integer>
			<integer>574</integer>
			<integer>586</integer>
			<integer>638</integer>
			<integer>650</integer>
			<integer>656</integer>
			<integer>668</integer>
			<integer>712</integer>
			<integer>724</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-217</integer>
			<integer>-205</integer>
		</array>
		<key>postscriptFontName</key>
		<string>Dummy-ExtraPlus</string>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-165</integer>
			<integer>-153</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>187</integer>
			<integer>196</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>242</integer>
			<integer>240</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-100</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleName</key>
		<string>Extra Plus</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>500</integer>
	</dict>
</plist>
