<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.LAT_A_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.LAT_C_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-37</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-5</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>-5</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-24</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-5</integer>
		</dict>
		<key>public.kern1.LAT_E_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-7</integer>
			<key>public.kern2.LAT_F_LC_RIGHT</key>
			<integer>-9</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-22</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>-22</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-22</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-18</integer>
		</dict>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-7</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.LAT_G_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-23</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>60</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-25</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-12</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.LAT_K_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-43</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-55</integer>
			<key>public.kern2.LAT_U_LC_RIGHT</key>
			<integer>-25</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.LAT_L_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>15</integer>
		</dict>
		<key>public.kern1.LAT_O_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-7</integer>
			<key>public.kern2.LAT_F_LC_RIGHT</key>
			<integer>-9</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>-9</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-35</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.LAT_S_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LAT_T_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-25</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-5</integer>
		</dict>
		<key>public.kern1.LAT_V_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.LAT_W_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.LAT_X_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>-35</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.LAT_Y_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>-25</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.LAT_Z_LC_LEFT</key>
		<dict>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>5</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Y_LC_RIGHT</key>
			<integer>-15</integer>
		</dict>
	</dict>
</plist>
