<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>space</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
		</dict>
	</dict>
</plist>
