<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cid00000</key>
	<string>cid00000.glif</string>
	<key>cid34466</key>
	<string>cid34466.glif</string>
	<key>cid34467</key>
	<string>cid34467.glif</string>
	<key>cid34468</key>
	<string>cid34468.glif</string>
</dict>
</plist>
